select[multiple] {
  border: 1px solid $blue;

  &:focus option:checked {
    background: $blue linear-gradient(0deg, $blue 0%, $blue 100%);
  }
}
.multiselect-arrows {
  margin-top: 42px;
  color: $blue;
  font-size: 2em;
  padding-left: 0;
  padding-right: 0;
  max-width: 31px;
}
.left-panel {
  max-width: 350px;
}
.right-panel {
  max-width: 350px;
}
