<div class="animated-loader" id="Loader1">
  <div class="background-mask header-top"></div>
  <div class="background-mask header-left"></div>
  <div class="background-mask header-right"></div>
  <div class="background-mask header-bottom"></div>
  <div class="background-mask subheader-left"></div>
  <div class="background-mask subheader-right"></div>
  <div class="background-mask subheader-bottom"></div>
  <div class="background-mask content-top"></div>
  <div class="background-mask content-first-end"></div>
  <div class="background-mask content-second-line"></div>
  <div class="background-mask content-second-end"></div>
  <div class="background-mask content-third-line"></div>
  <div class="background-mask content-third-end"></div>
</div>
<br>
{{#if showcode}}<pre class="pre-scrollable"><code class="html">&lt;div class="animated-loader" id="Loader1"&gt;
  &lt;div class="background-mask header-top"&gt;&lt;/div&gt;
  &lt;div class="background-mask header-left"&gt;&lt;/div&gt;
  &lt;div class="background-mask header-right"&gt;&lt;/div&gt;
  &lt;div class="background-mask header-bottom"&gt;&lt;/div&gt;
  &lt;div class="background-mask subheader-left"&gt;&lt;/div&gt;
  &lt;div class="background-mask subheader-right"&gt;&lt;/div&gt;
  &lt;div class="background-mask subheader-bottom"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-top"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-first-end"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-second-line"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-second-end"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-third-line"&gt;&lt;/div&gt;
  &lt;div class="background-mask content-third-end"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>{{/if}}
