<div class="row">
  <div class="col-xs-12">
    <h1>HIG UX KIT : Autocomplete</h1>
    <ul>
      <li>NPM Package: <a href="https://www.npmjs.com/package/typeahead.js" target="_blank">Typeahead (autocomplete)</a></li>
      <li>For more information, please navigate to <a href="https://github.com/twitter/typeahead.js">Github</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="usr">Search for type of insurances: </label> <br>
      <input type="text" id="usr" class="form-control typeahead tt-query" placeholder="search by insurance" autocomplete="off" spellcheck="false" >
    </div>
  </div>
</div>
