<h3>{{button-type}}</h3>
<h4>Large</h4>
{{#> button
  size="btn-lg"
  block="true"
  title="Large Button"
}}{{/button}}

{{#> button
  size="btn-lg"
  block="true"
  title="Large Button w/icon"
  icon="icon-edit"
}}{{/button}}
<br>
<h4>Regular</h4>
{{#> button
  block="true"
  title="Regular Button"
}}{{/button}}

{{#> button
  block="true"
  title="Regular Button w/icon"
  icon="icon-edit"

}}{{/button}}

{{#> button
  block="true"
  title="Disabled Button"
  disabled="true"
  title="Regular Button"
}}{{/button}}

<br>
<h4>Small</h4>

{{#> button
  block="true"
  size="btn-sm"
  title="Small Button"
}}{{/button}}

<br>
<h4>Extra-Small</h4>
{{#> button
  block="true"
  size="btn-xs"
  title="Extra-Small Button"
}}{{/button}}

<br>
