<div class="row">
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#000000"></div>
        <p class="color-swatch-title">$black: #000000</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#484848"></div>
        <p class="color-swatch-title">$gray: #484848</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#888888"></div>
        <p class="color-swatch-title">$gray-medium: #888888</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#DADADA"></div>
        <p class="color-swatch-title">$gray-light: #DADADA</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#EDEDED"></div>
        <p class="color-swatch-title">$gray-lighter: #EDEDED</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#F7F7F7"></div>
        <p class="color-swatch-title">$gray-background: #F7F7F7</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#FFFFFF; border: 1px solid #CCC;"></div>
        <p class="color-swatch-title">$white: #FFFFFF</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#3A5A78"></div>
        <p class="color-swatch-title">$blue: #3A5A78</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#4D7495"></div>
        <p class="color-swatch-title">$blue-active: #4D7495</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#B6D3E9"></div>
        <p class="color-swatch-title">$blue-light: #B6D3E9</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#2477BF"></div>
        <p class="color-swatch-title">$blue-link: #2477BF</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#118654"></div>
        <p class="color-swatch-title">$green: #118654</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#13A060"></div>
        <p class="color-swatch-title">$green-active: #13A060</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#822B2F"></div>
        <p class="color-swatch-title">$red: #822B2F</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#B83B2F"></div>
        <p class="color-swatch-title">$red-error: #B83B2F</p>
    </div>
    <div class="col-md-2 col-xs-4 color-swatch">
        <div class="color-swatch-card" style="background-color:#F7941F"></div>
        <p class="color-swatch-title">$yellow-warning: #F7941F</p>
    </div>
</div>
