<div class="col-xs-12">
  <h1>HIG UX KIT : Frequently Asked Questions</h1>

  <h3>Do you have any questions?</h3>
  <ul class="faq-list">
    <li>
      <a href="#q1" class="collapsed collapsed-link" data-toggle="collapse">This is my question, change me in the right hand panel?</a>
      <div id="q1" class="collapse collapse-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce pellentesque purus at tristique gravida.
        Integer tincidunt turpis porttitor mi dapibus.
      </div>
    </li>
    <li>
      <a href="#q2" class="collapsed collapsed-link" data-toggle="collapse">This is my question, change me in the right hand panel?</a>
      <div id="q2" class="collapse collapse-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce pellentesque purus at tristique gravida.
        Integer tincidunt turpis porttitor mi dapibus.
      </div>
    </li>
  </ul>
</div>{{#if showcode}}
<pre><code class="html">&lt;ul class="faq-list"&gt;
  &lt;li&gt;
    &lt;a href="#q1" class="collapsed collapsed-link" data-toggle="collapse"&gt;This is my question, change me in the right hand panel?&lt;/a&gt;
    &lt;div id="q1" class="collapse collapse-text"&gt;
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce pellentesque purus at tristique gravida.
      Integer tincidunt turpis porttitor mi dapibus.
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#q2" class="collapsed collapsed-link" data-toggle="collapse"&gt;This is my question, change me in the right hand panel?&lt;/a&gt;
    &lt;div id="q2" class="collapse collapse-text"&gt;
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce pellentesque purus at tristique gravida.
      Integer tincidunt turpis porttitor mi dapibus.
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
{{/if}}
