<div class="mega-menu">
  <div class="col-md-6 mega-menu-left">
    <h3>Heading</h3>
    <ul>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
    </ul>
  </div>
  <div class="col-md-6 mega-menu-right">
    <h3>Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <img src="http://via.placeholder.com/350x200" alt="play video" class="img-responsive">
    <ul>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
      <li><a href="#">Lorem ipsum dolor amit</a></li>
    </ul>
  </div>
</div>
