<ol class="list-group standard-order">
  <li>List value goes here</li>
  <li>List value goes here</li>
  <li>List value goes here</li>
</ol>
{{#if showcode}}
<pre><code class="html">&lt;ol class="list-group standard-order"&gt;
  &lt;li&gt;List value goes here&lt;/li&gt;
  &lt;li&gt;List value goes here&lt;/li&gt;
  &lt;li&gt;List value goes here&lt;/li&gt;
&lt;/ol&gt;
</code></pre>
{{/if}}
