<h2 class="underlined">CSS</h2>
<ul>
  <li><a href="buttons.html">Buttons</a></li>
  <li><a role="button" data-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">Forms <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="forms">
      <li><a href="form.html">All Form Samples</a></li>
      <li><a href="form-date-picker.html">Datepicker</a></li>
      <li><a href="form-help-icon.html">Help Icon Usage</a></li>
      <li><a href="form-input-fields-horiz.html">Horizontal Input Fields</a></li>
      <li><a href="form-input-fields.html">Input Fields</a></li>
      <li><a href="form-rad-and-cbox-selectors.html">Radio &amp; Checkbox Selectors</a></li>
      <li><a href="form-field-selectors.html">Select Fields</a></li>
      <li><a href="form-select-statement.html">Select (default)</a></li>
      <li><a href="form-select-custom.html">Select (customizable)</a></li>
      <li><a href="form-tile-selectors.html">Tile Selectors</a></li>
      <li><a href="form-toggle-selector.html">Toggle Selector</a></li>
    </ul>
  </li>
  <li><a role="button" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">Tables <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="tables">
      <li><a href="table.html">All Tables</a></li>
      <li><a href="table-standard.html">Standard Table</a></li>
      <li><a href="table-parent-column.html">Parent Column Table</a></li>
      <li><a href="table-editable.html">Editable Table</a></li>
      <li><a href="table-sortable.html">Sortable Table</a></li>
    </ul>
  </li>
  <li><a href="typography.html">Typography</a></li>
</ul>
<h2 class="underlined">Components</h2>
<ul>
  <li><a href="accordion.html">Accordion</a></li>
  <li><a role="button" data-toggle="collapse" href="#animations" aria-expanded="false" aria-controls="tables">Animations <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="animations">
      <li><a href="animation-settings.html">Animation Settings</a></li>
      <li><a href="animation-aa-sample.html">Adobe Animate Sample</a></li>
    </ul>
  </li>
  <li><a href="cards.html">Cards (Boxes, Containers)</a></li>
  <li><a href="prop-section-carousel.html">Carousel (Prop Section)</a></li>
  <li><a role="button" data-toggle="collapse" href="#higux-font" aria-expanded="false" aria-controls="tables">Icons <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="higux-font">
      <li><a href="higux-font.html">Icons (HIGUX webfont)</a></li>
      <li><a href="higux-font-cheatsheet.html">HIGUX font Desktop Cheatsheet</a></li>
      <li><a href="higux-sprite.html">Icon Sprites (color &amp; grayscale)</a></li>
    </ul>
  </li>

  <li><a href="list-elements.html">List Elements</a></li>
  <li><a href="loading-patterns.html">Loading Patterns</a></li>
  <li><a href="messages.html">Messaging</a></li>
  <li><a href="modal.html">Modal</a></li>
  <li><a href="widget-child-containers.html">Panels (Widget Containers)</a></li>
  <li><a href="security-message.html">Security Message</a></li>
  <li><a href="tooltip.html">Tooltip</a></li>
  <li><a href="popover.html">Popover</a></li>
  <li><a href="disclaimer-text.html">Disclaimer Text</a></li>
  <li><a href="progress-bar.html">Progress Bar</a></li>
  <li><a href="radial-progress-indicator.html">Radial Progress Indicator</a></li>
  <li><a href="content-alerts-messages.html">Content-Level Alerts and Messages</a></li>
  <li><a href="intro-messaging.html">Intro Messaging</a></li>
  <li><a href="marketing-containers.html">Marketing Containers</a></li>
  <li><a href="video.html">Videos</a></li>
  <li><a href="upload-document.html">Upload Document Pattern</a></li>
  <li><a href="new-carousel.html">New Carousel Option</a></li>
  <li><a role="button" data-toggle="collapse" href="#term-con" aria-expanded="false" aria-controls="term-and-con">Terms and Conditions <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="term-con">
      <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
      <li><a href="terms-and-conditions-modal.html">Terms and Conditions (Modal)</a></li>
      <li><a href="terms-and-conditions-standard.html">Terms and Conditions (Standard)</a></li>
    </ul>
  </li>
  <li><a href="photos.html">Photos</a></li>
  <li><a href="photo-gallery.html">Photo Gallery</a></li>
  <li><a role="button" data-toggle="collapse" href="#mselect" aria-expanded="false" aria-controls="term-and-con">Multiselect Options <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="mselect">
      <li><a href="multiselect.html">Multiselect Panel</a></li>
      <li><a href="multiselect-tag-main.html">Multiselect Tag</a></li>
      <li><a href="multiselect-dropdown-checkbox.html">Multiselect Dropdown</a></li>
    </ul>
  </li>
  <li><a href="autocomplete-main.html">Autocomplete</a></li>
  <li><a href="side-nav.html">Sidebar | Side-Nav</a></li>
  <li><a href="faqs.html">FAQs</a></li>
  <li><a href="pagination.html">Pagination</a></li>
</ul>
<h2 class="underlined">Complex Pattern Examples</h2>
<ul>
  <li><a href="form-combined-sample.html">Combined Form Sample</a></li>
  <li><a href="call-to-action.html">Call To Action Pattern</a></li>

  <li><a role="button" data-toggle="collapse" href="#ciam" aria-expanded="false" aria-controls="ciam">CIAM Templates <i class="icon icon-caret-down-alt"></i></a>
    <ul class="collapse" id="ciam">
      <li><a href="template-ciam-register.html">CIAM Register</a></li>
      <li><a href="template-ciam-link-policy.html">Link Your Business Policy</a></li>
    </ul>
  </li>
</ul>
