<footer class="footer-primary">
  <div class="container">
    <div class="row content-row">
      <p class="faqs"><i class="icon icon-questions padding-right"></i>Frequently Asked Questions</p>
      <div class="col-xs-12 col-sm-5 content-contact">
        <p>CONTACT US</p>
        <p><i class="icon icon-chat padding-right"></i>Live Chat</p>
        <p><i class="icon icon-call padding-right"></i>Request a Call</p>
        <p>(XXX) XXX-XXXX</p>
        <p><i class="icon icon-plus padding-right"></i>Feedback</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-2 content-norton">
        <img src="images/norton.svg" alt="Norton Secured - Powered by VeriSign">
      </div>
      <div class="col-xs-12 col-sm-7 col-md-5 content-connect">
        <div class="icons">
          <div><a href=""><i class="fa fa-facebook"><span class="sr-only">Facebook</span></i></a></div>
          <div><a href=""><i class="fa fa-twitter"><span class="sr-only">Twitter</span></i></a></div>
          <div><a href=""><i class="fa fa-linkedin"><span class="sr-only">Linked In</span></i></a></div>
          <div><a href=""><i class="fa fa-youtube"><span class="sr-only">YouTube</span></i></a></div>
          <div><a href=""><i class="fa fa-google-plus"><span class="sr-only">Google Plus</span></i></a></div>
        </div>
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Legal Notice</a></li>
          <li><a href="">Terms of Use</a></li>
        </ul>
        <p class="copyright">&copy; 2018 The Hartford. All rights Reserved.</p>

      </div>
    </div>
  </div>
</footer>
