<footer class="footer footer-thin">
  <div class="container">
    <div class="row content-row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="links list-inline">
          <li><a href="">Contact Us</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Legal Notice</a></li>
          <li><a href="">Accessibility Statement</a></li>
        </ul>
        <p class="copyright">&copy; 2018 The Hartford. All Rights Reserved.</p>
      </div>
      <div class="col-md-2">
        <img src="images/norton.svg" alt="Norton Secured - Powered by VeriSign" class="norton">
      </div>
    </div>
  </div>
</footer>
