<h2>Standard Table</h2>
<div class="row card">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-3">Created Date <i class="fa fa-sort-asc" aria-hidden="true"></i></th>
        <th class="col-xs-2">Author</th>
        <th class="col-xs-7">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="data-prefix-xs">Created Date:</span>10/20/2017</td>
        <td><span class="data-prefix-xs">Author:</span>Cheryl</td>
        <td>Max Powers/agent re status of refund check; verified w/collections insured has balance agreement and is on payment schedule paying off balance; insured has more in collections; trans to laquelle/collections team to advise
        </td>
      </tr>
      <tr>
        <td><span class="data-prefix-xs">Created Date:</span>09/19/2017</td>
        <td><span class="data-prefix-xs">Author:</span>Jim</td>
        <td>rcvd esc mail req to place audit billing on hold but first of all, audit was rp and second, acct is in collections and req was sent to b/r; sent reminder to them
        </td>
      </tr>
      <tr>
        <td><span class="data-prefix-xs">Created Date:</span>06/15/2017</td>
        <td><span class="data-prefix-xs">Author:</span>Bryan</td>
        <td>INSUFFICIENT FUNDS – $1,700 06-15-2017</td>
      </tr>
      <tr>
        <td><span class="data-prefix-xs">Created Date:</span>01/15/2017</td>
        <td><span class="data-prefix-xs">Author:</span>Joe</td>
        <td>Agent John Smith called in to verify if insured was setup on EFT/adv EFT was not setup</td>
      </tr>
    </tbody>
  </table>
</div>
