<h2>Parent Column Table</h2>
<div class="row card">
    <table class="table">
        <thead>
        <tr>
            <th class="col-xs-4 parent-column"><h3>Parent Column Here</h3></th>
            <th class="col-xs-4">Label Two</th>
            <th class="col-xs-4">Label Three</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="parent-column"><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td>Lorem ipsum dolor sit amet, consectetur elit.</td>
        </tr>
        <tr>
            <td class="parent-column"><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td>Lorem ipsum dolor sit amet, consectetur elit.</td>
        </tr>
        <tr>
            <td class="parent-column"><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td>Lorem ipsum dolor sit amet, consectetur elit.</td>
        </tr>
        <tr>
            <td class="parent-column"><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td>Lorem ipsum dolor sit amet, consectetur elit.</td>
        </tr>
        <tr>
            <td class="parent-column"><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td><span class="data-prefix-xs">Lorem Ipsum:</span><span class="data-col">Lorem ipsum dolor sit amet, consectetur elit.</span></td>
            <td>Lorem ipsum dolor sit amet, consectetur elit.</td>
        </tr>
        </tbody>
    </table>
</div>
