<div class="pagination-container">
  <div class="pagination-left">
    Showing 1-10 of 40
  </div>
  <div class="pagination-middle">
    <ul class="pagination">
      <li><a href="#"></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <div class="pagination-right">
    <span>Items per page</span>
    <div class="select-container">
      <select name="select-sample" class="form-control">
        <option value="first">10</option>
        <option value="second">20</option>
        <option value="third">30</option>
        <option value="fourth">40</option>
      </select>
    </div>
  </div>
</div><br/>
{{#if showcode}}<pre><code class="html">&lt;div class="pagination-container"&gt;
  &lt;div class="pagination-left"&gt;
    Showing 1-10 of 40
  &lt;/div&gt;
  &lt;div class="pagination-middle"&gt;
    &lt;ul class="pagination"&gt;
      &lt;li&gt;&lt;a href="#"&gt;&lt;/a&gt;&lt;/li&gt;
      &lt;li class="active"&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;div class="pagination-right"&gt;
    &lt;span&gt;Items per page&lt;/span&gt;
    &lt;div class="select-container"&gt;
      &lt;select name="select-sample" class="form-control"&gt;
        &lt;option value="first"&gt;10&lt;/option&gt;
        &lt;option value="second"&gt;20&lt;/option&gt;
        &lt;option value="third"&gt;30&lt;/option&gt;
        &lt;option value="fourth"&gt;40&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
{{/if}}
