<div class="form-group has-feedback credit-card-input">
  <label for="ccn" class="control-label{{#if horizontal}} col-md-6{{/if}}">Credit Card Number (disabled)</label>{{#if horizontal}}
  <div class="col-md-6">{{/if}}
  <div class="input-group input-disabled">
    <span class="input-group-addon"><i class="icon icon-secure"></i></span>
    <input id="ccn" data-minlength="15" class="form-control" name="ccn" placeholder="CCN" required disabled/>
    <span class="input-group-addon icon icon-camera icon-disabled"></span>
  </div>
  <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
  <small class="help-block help-block-disabled">Mininum 15 characters</small>{{#if horizontal}}
</div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group has-feedback credit-card-input"&gt;
  &lt;label for="ccn" class="control-label{{#if horizontal}} col-md-6{{/if}}"&gt;Credit Card Number&lt;/label&gt;{{#if horizontal}}
  &lt;div class="col-md-6"&gt;{{/if}}
  &lt;div class="input-group input-disabled"&gt;
    &lt;span class="input-group-addon"&gt;&lt;i class="icon icon-secure"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input id="ccn" data-minlength="15" class="form-control" name="ccn" placeholder="CCN" required disabled/&gt;
    &lt;span class="input-group-addon icon icon-camera icon-disabled"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/span&gt;
  &lt;small class="help-block help-block-disabled"&gt;Mininum 15 characters&lt;/small&gt;{{#if horizontal}}
  &lt;/div&gt;{{/if}}
&lt;/div&gt;
</code></pre>{{/if}}
