<div class="form-group has-feedback">
  <label for="name" class="control-label{{#if horizontal}} col-md-6{{/if}}">Name (disabled)</label>{{#if horizontal}}
  <div class="col-md-6">{{/if}}
  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name here" required disabled/>
  {{#> form/input/error disabled="help-block-disabled"}}{{/form/input/error}}
  {{#if horizontal}}
  </div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class=&quot;form-group has-feedback&quot;&gt;
  &lt;label for=&quot;name&quot; class=&quot;control-label{{#if horizontal}} col-md-6{{/if}}&quot;&gt;Name (disabled)&lt;/label&gt;{{#if horizontal}}
  &lt;div class=&quot;col-md-6&quot;&gt;{{/if}}
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; name=&quot;name&quot; placeholder=&quot;Enter name here&quot; required disabled/&gt;
  &lt;span class=&quot;icon icon-attention form-control-feedback&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
  {{#if horizontal}}
  &lt;/div&gt;{{/if}}
&lt;/div&gt;
</code></pre>{{/if}}
