<div class="form-group has-feedback">
  <label class="control-label">Incremental Selector (disabled)</label>
  <div class="input-group input-disabled" data-trigger="spinner" id="spinner">
    <a class="input-group-addon spinner-addon" href="javascript:;" data-spin="down"><i class="icon icon-minus"></i></a>
      <input type="text" class="form-control center-block" name="inc" type="text" value="" data-rule="quantity" data-min="" data-max="100" placeholder="Incremental Option" required disabled>
    <a class="input-group-addon spinner-addon" href="javascript:;" data-spin="up"><i class="icon icon-plus"></i></a>
    <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
  </div>
</div>
