{{#> header/primary title="Animation: Adobe Animate Sample"}}{{/header/primary}}
  <body onload="init();" style="margin:0px;">
    <div class="container">
      <div class="row card">
        <div class="col-xs-12">
          <h1>HIG UX KIT : Animation: Adobe Animate Sample</h1>
          
          <p>Adobe Animate Sample per <a href="https://github.thehartford.com/HIS/mce_hig_ux_kit/issues/350">Issue #350</a></p>
          <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:550px; height:400px">
            <canvas id="canvas" width="550" height="400" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
            <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:550px; height:400px; position: absolute; left: 0px; top: 0px; display: block;">
            </div>
          </div>
        </div>
      </div>
    </div>

  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <script src="/app/js/sample-animation.js"></script>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

