{{#> header/primary title="Autocomplete"}} {{/header/primary}}
<div class="container card">
 {{#> autocomplete showcode="true"}} {{/autocomplete}}
</div>

{{#> page-footer page-scripts=""}} {{/page-footer}}
