{{#> header/primary title="Buttons"}}{{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card top">
        <h1>HIG UX KIT : Buttons</h1>
        <p>For usage, please refer to <a href="https://getbootstrap.com/docs/3.3/css/#buttons">Bootstrap 3 Docs</a>. We use all standard bootstrap button class names like <code>btn-default</code> and <code>btn-primary</code>, as well as  <code>btn-secondary</code> and
          <code>btn-secondary-paired</code></p>
      </div>
    </div>
    <div class="row card">
      <div class="col-md-4">
        {{#> button-stack button-type="primary" showcode="true"}}{{/button-stack}}
      </div>
      <div class="col-md-4">
        {{#> button-stack button-type="secondary" showcode="true"}}{{/button-stack}}
      </div>
      <div class="col-md-4">
        {{#> button-stack button-type="secondary-paired" showcode="true"}}{{/button-stack}}
      </div>
    </div>
    <div class="row card">
      <div class="col-md-4">
        <h3 id="stickyBtn">Sticky Button</h3>
        {{#> button
          button-type="secondary-paired btn-showmore"
          size="btn-lg"
          block="true"
          title="Show Details"
          showcode="true"
        }}{{/button}}
      </div>
      <div class="col-md-4">
        <h3>Misc</h3>
        {{#> button button-type="quickView" block="true" title="button" showcode="true"}}{{/button}}
      </div>
      <div class="col-md-4">
        <h3>Link Styled Button</h3>
        {{#> button button-type="link" title="styled" showcode="true"}}{{/button}}
      </div>
    </div>

  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

