{{#> header/primary title="Call To Action Pattern"}}{{/header/primary}}

  <div class="container">
    <div class="row card">
      <div class="col-md-12">
        <h1>HIG UX KIT : Call To Action Pattern</h1>
      </div>
    </div>
    <form action="#" class="form">
      <div class="row card top">
        <div class="col-md-12">
          <h2>Subject Title</h2>
        </div>
          {{#> form/input/text
          name="Horizontal1"
          label="Really Long Field Label That Takes Up a Lot More Space"
          horizontal="true"
          placeholder="Optional field value"
          required="true"}}{{/form/input/text}}
          {{#> form/input/text
          name="Horizontal2"
          label="Really Long Field Label"
          horizontal="true"
          placeholder="Optional field value"
          required="true"}}{{/form/input/text}}
          {{#> form/input/text
          name="Horizontal3"
          label="Really Long Field Label"
          horizontal="true"
          placeholder="Optional field value"
          required="true"}}{{/form/input/text}}
      </div>
      <div class="row">
        <div class="col-md-6">
          {{#> button button-type="link" size="btn-lg" title="Previous"}}{{/button}}
        </div>
        <div class="col-md-3">
          {{#> button button-type="secondary-paired" size="btn-lg" block="true" title="Active Button State"}}{{/button}}
        </div>
        <div class="col-md-3">
          {{#> button button-type="primary" size="btn-lg" block="true" title="Active Button State" icon="icon-tree"}}{{/button}}
        </div>
      </div>
    </form>
  </div>
  <div class="row">&nbsp;</div>

  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

