{{#> header/primary title="Cards"}}{{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Cards</h1>
        <p>Note: The <code>.card</code> class is not included with Bootstrap 3 - we are using this as a custom class (with optional modifier classes) that can be applied to block elements universally. </p>
      </div>
    </div>
    <div class="row">
      <h2>Card Examples</h2>
      <div class="col-md-3">
        {{#> card showcode=true}}
          <h3>Card</h3> + class <code>card</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card offset=" offset" showcode=true}}
          <h3>Offset Card <small>(drop shaddow)</small></h3> + classes <code>card offset</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card top=" top" showcode=true}}
          <h3>Top-Border Card</h3> + classes <code>card top</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card offset=" offset" top=" top" showcode=true}}
          <h3>Offset Top-Border Card</h3> + classes <code>card offset top</code>
          {{/card}}
      </div>
    </div>
    <div class="row">
      <h2>Extra Padding (XP) Card Samples</h2>
      <div class="col-md-3">
        {{#> card xp=" xp" showcode=true}}
          <h3>XP Card <small>extra padding</small></h3> + class <code>card xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp" offset=" offset" showcode=true}}
          <h3>XP Offset Card <small>(drop shaddow)</small></h3> + classes <code>card offset xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp" top=" top" showcode=true}}
          <h3>XP Top-Border Card</h3> + classes <code>card top xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp" offset=" offset" top=" top" showcode=true}}
          <h3>XP Offset Top-Border Card</h3> + classes <code>card offset top xp</code>
          {{/card}}
      </div>
    </div>
    <div class="row">
      <h2>2x Extra Padding (2XP) Card Samples (approx 32px padding)</h2>
      <div class="col-md-3">
        {{#> card xp=" xp2" showcode=true}}
          <h3>XP Card <small>extra padding</small></h3> + class <code>card xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp2" offset=" offset" showcode=true}}
          <h3>XP Offset Card <small>(drop shaddow)</small></h3> + classes <code>card offset xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp2" top=" top" showcode=true}}
          <h3>XP Top-Border Card</h3> + classes <code>card top xp</code>
          {{/card}}
      </div>
      <div class="col-md-3">
        {{#> card xp=" xp2" offset=" offset" top=" top" showcode=true}}
          <h3>XP Offset Top-Border Card</h3> + classes <code>card offset top xp</code>
          {{/card}}
      </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

