{{#> header/primary title="Disclaimer Text"}}{{/header/primary}}

<div class="container">
  <div class="row card">
    <div class="col-md-12">
      <div class="disclaimer">
          <h1 class="body-copy">Disclaimer Body Copy</h1>
          <p class="disclaimer-content">
              Your Privacy is important to us. We order third party data reports relating to credit, driving record, vehicle and loss history and prior insurance to pre-fill informatoin, determine eligibility and price for our insurance products. Please review our <a href=#>Notice of Information</a> and <a href="#">Privacy Policy</a>.
          </p>
      </div>

      <div class="disclaimer disclaimer-footer">
          <h1 class="body-copy">Disclaimer Footer</h1>
          <p class="disclaimer-content">
              Footer Disclaimers: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus.
          </p>
      </div>
    </div>
  </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

