{{#> header/primary title="FAQs"}}{{/header/primary}}
<div class="container">
  <div class="row card">
      {{#>faqs showcode="true"}}{{/faqs}}
  </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

