{{#> header/primary title="Radio & Checkbox Selectors"}}{{/header/primary}}

<div class="container">
  <div class="row">
      <div class="col-md-12 content">
          <h1>HIG UX KIT : Radio &amp; Checkbox Selectors</h1>
          
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 content">
      <div class="row radio-checkbox-row">
        <form class="form-selectors" data-toggle="validator" role="form">
          {{#> form/rad-and-cbox-selectors showcode="true"}} {{/ form/rad-and-cbox-selectors}}
        </form>
      </div>
    </div>
  </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

