{{#> header/primary title="Toggle Selector"}}{{/header/primary}}

<div class="container">
  <div class="row">
      <div class="col-md-12 content">
          <h1>HIG UX KIT : Toggle Selector</h1>

          <p>For usage, please refer to <a href="https://getbootstrap.com/docs/3.3/components/#btn-groups">button groups - Bootstrap 3 Docs</a>.</p>
          <p>
            <b>Note: </b>
            <ul>
              <li>For toggle selector(radio) with fixed padding, class <code>btn-group-fixed-padding</code> have to be applied to have fixed padding. Fixed padding is set to <code>60px</code> by default which can adjust up to 3 characters/numbers.</li>
              <li>For toggle selector(radio) with variable padding, class <code>btn-group-variable-padding</code> have to be applied in order to have variable defined padding. By default, variable padding is set to <code>50px</code> which can adjust up to 2 characters/numbers.</li>
            </ul>
          </p>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 content">
      <div class="row radio-checkbox-row">
        <form class="form-selectors" data-toggle="validator" role="form">
          {{#> form/toggle-selector showcode="true"}} {{/ form/toggle-selector}}
          {{#> form/toggle-selector-less-padding showcode="true"}} {{/form/toggle-selector-less-padding}}
        </form>
      </div>
    </div>
  </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

