{{#> header/primary title="Help Icon"}}{{/header/primary}}

<div class="container">
  <div class="row card">
    <div class="col-md-12">
      <h1>HIG UX KIT : Help Icon</h1>
    </div>
  </div>
  <div class="row card">
    <div class="col-xs-12">
      <div class="row input-fields-row">
        <form class="form-horizontal" data-toggle="validator" role="form">
          <div class="col-sm-12">
            {{#> form/input/select
            name="HorizSelect"
            label="This is an example of a long form and horizontally oriented label for a select field with the STANDARD version of the help icon"
            horizontal="true"
            showcode="true"
            required="true"}}{{/form/input/select}}
          </div>
          <div class="col-sm-12">
            {{#> form/input/select-alt
            name="HorizSelectAlt"
            label="This is an example of a long form and horizontally oriented label for a select field with the ALT version of the help icon"
            horizontal="true"
            showcode="true"
            required="true"}}{{/form/input/select-alt}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

