{{#> header/primary title="Forms-part2"}}{{/header/primary}}

<div class="container">
    <div class="row card">
      <div class="col-md-12">
        <h1>HIG UX KIT : Select - Custom (uses bootstrap-select plugin)</h1>
        
        <p>The "alternate" select field which was originally created for PL will be included, but will require a jQuery dependancy. This should be used sparingly, with additional concessions made for accessibility.</p>
      </div>
    </div>
    <div class="row card">
      <div class="col-xs-6">
        <form>
          {{#> form/field-select-custom}} {{/ form/field-select-custom}}
          <br/>
          <div class="form-group">
              <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

