{{#> header/primary title="Tile Selectors"}}{{/header/primary}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <h1>HIG UX KIT : Tile Selectors</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 content">
        <form class="form-selectors" data-toggle="validator" role="form">
          {{#> form/tile-selectors showcode="true"}} {{/ form/tile-selectors}}
        </form>
      </div>
    </div>
  </div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

