{{#> header/primary title="Datepicker"}}{{/header/primary}}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
        <h1>HIG UX KIT : Datepicker</h1>
        <p>The standard plugin for the HIG UX KIT is the <a href="https://bootstrap-datepicker.readthedocs.io/en/latest/">bootstrap-datepicker</a> plugin. There are many options and hooks available to customize the funcitonality to match your application / project.</p>
        <blockquote>If your project is not using the JavaScript in the HIG UX KIT CODE REPO: your team is responsible for mapping styles to match up with the Design System (this can be done using SASS).</blockquote>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 content">
      <div class="row field-selectors-row">
        <form class="form-selectors" data-toggle="validator" role="form">
          <div class="col-sm-6">
            {{#> form/input/date showcode="true"}} {{/ form/input/date}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
