{{#> header/primary title="Select"}}{{/header/primary}}

  <div class="container card">
    <div class="row">
      <div class="col-md-12 content">
        <h1>HIG UX KIT : Select</h1>

        <p>For additonal info on usage, please refer to <a href="https://getbootstrap.com/docs/3.3/css/#forms-controls">Bootstrap 3 Docs</a>.</p>
        <p>The default select field for HIGUX will be a CSS-ONLY styled dropdown Feature-wise, this select field will use browser defaults for options - this allows maximum accessibility and provides default expected behaviors.</p>
        <p>There is currenlty a maximum of 25 characters that will be displayed for each option, <a href="https://github.thehartford.com/HIS/mce_hig_ux_kit/issues/430">per UX direction</a>.  We are limiting this via javascript in our app.js</p>
        <p>
          <b>Note: </b> The default characters limit is 25 however this limit can be overridden by just adding <code>data-length="30"</code>.
          You will place the data-length with defined limit attribute as following: <code>&lt;div class="select-container" data-length="30"&gt;</code>.
        </p>
      </div>
    </div>
    <div class="row">
      <h3 class="col-xs-12">Native Boostrap Select:</h3>
      <div class="col-md-6">
        <form data-toggle="validator" role="form">
          {{#> form/input/select name="select-sample" label="Select Label:" showcode="true"}}{{/form/input/select}}
        </form>
      </div>
    </div>
  </div>

  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

