{{#> header/primary title="Forms"}}{{/header/primary}}

<style>

  .side-nav {
  	background:white;
  }
  .temp {
  	margin:0;
  	padding:0;
  	font-size:.87em;
  }
  .temp li {
  	list-style:none;
  	padding:5px 0px;
  }
  .temp li.active {
  	font-weight:500;
  }

  .indent {
  	margin-left:50px;
  }
</style>

<div class="container">

	<div class='col-md-2 side-nav '>
		<ul class='temp'>
			<li class='active'>General Information</li>
			<li>Lorum Ipsum</li>
			<li>Lorum Ipsum</li>
			<li>Lorum Ipsum</li>
			<li>Lorum Ipsum</li>
			<li>Lorum Ipsum</li>
			<li>Lorum Ipsum</li>
		</ul>
	</div>


	<div class='col-md-10'>
		<h1>Page Title</h1>
		<form class='' data-toggle="validator" role="form">

			<div class='card top'>
				<h3>Section Name</h3>

				<div class="form-group has-feedback">
					<label for="s1">Select | Dropdown label (needs kit 3.32): </label>

					<div class='row'>
						<div class='col-md-6'>
							<div class="select-container">
								<select name="s1" class="form-control" required>
									<option value="">Please Select</option>
									<option value="one">1</option>
									<option value="two">2</option>
									<option value="three">3</option>
								</select>
							</div>
							<span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
						</div>
					</div>
				</div>


				<div class="form-group has-feedback">
					<label for="s1">Standard Input label </label>
					<div class='row'>
						<div class='col-md-6'>
							<input class='form-control'>
							<span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
						</div>
					</div>
				</div>


				<div class='form-group '>
					<label class='control-label'>Input for a yes no question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </label>
					<div class='btn-group btn-group-toggle' role='group'>
						<button type='button' class='btn btn-secondary' value='Yes'>Yes</button>
						<button type='button' class='btn btn-secondary' value='No'>No</button>
					</div>
				</div>


				<div class='form-group indent'>
					<label class='control-label'>Input for a price (need icon) </label>
					<div class='row'>
						<div class='col-md-6'>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon icon-secure"></i></span>
								<input class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class='card top'>
				<h3>Section Name</h3>

				<div class='form-group '>
					<label class='control-label'>Input for a yes no question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </label>
					<div class='btn-group btn-group-toggle' role='group'>
						<button type='button' class='btn btn-secondary' value='Yes'>Yes</button>
						<button type='button' class='btn btn-secondary' value='No'>No</button>
					</div>
				</div>

				<p>This is a question that applies to many of the following</p>

				<div class="form-group has-feedback">
					<label for="s1">Standard Input label </label>
					<div class='row'>
						<div class='col-md-6'>
							<input class='form-control'>
							<span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group has-feedback">
					<label for="s1">Standard Input label </label>
					<div class='row'>
						<div class='col-md-6'>
							<input class='form-control'>
							<span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group" style="clear: left">
				  <div class="checkbox">
					<label class="checkbox-inline"><input type="checkbox" value="c1" data-error="Please make your selection" name="checkbox" required=""><i class="icon"></i>Checkbox 1</label>
				  </div>
				<p>we'd want to do something nice here... tbd...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
				</div>


				<div class="form-group has-feedback indent">
					<label for="s1">Standard Input label </label>
					<div class='row'>
						<div class='col-md-6'>
							<input class='form-control'>
							<span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span>
						</div>
					</div>
				</div>

			</div>


			<div class='card top'>
				<h3>Section Name</h3>

				<div class='form-group '>
					<label class='control-label'>Input for a yes no question Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </label>
					<div class='btn-group btn-group-toggle' role='group'>
						<button type='button' class='btn btn-secondary' value='Yes'>Yes</button>
						<button type='button' class='btn btn-secondary' value='No'>No</button>
					</div>
				</div>
				<div class='alert-messages'>
					<div class="message-danger">
						<h4 class="message-header">
							<i class="message-header-icon icon-attention"></i>
							<span class="message-header-text">Some Nice Words</span>
						</h4>
						<p>Thank you for considering The Hartford. The customer's operations do not meet our underwriting guidelines. The quote is declined and coverage may not be bound.</p>
					</div>
				</div>

			</div>

		</form>
	</div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

