{{#> header/primary title="Web Font"}}{{/header/primary}}
{{#> higux-demopage}}{{/higux-demopage}}

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card offset sidebar-left">
        <h1>HIG UX KIT : HIGUX Font CS</h1>

        <p>Custom HIGUX webfont. usage is similar to <a href="http://fontawesome.io/">Font Awesome</a>, but uses <code>icon</code> instead of <code>fa</code> naming convention</p>
        <p>This page is intended to replicate the fontawesome cheatsheet. Glyphs on this page can be copied & pasted for local use, as long as the <code>higux.ttf</code> font is installed on your local system.</p>
        </div>
      </div>
      <div class="col-md-9 card">
        <h2>Desktop CheatSheet</h2>
        <ul class="cheatsheet">
          <li><i class="icon"></i>icon-accident-forgiveness-benefit</li>
          <li><i class="icon"></i>icon-add-function</li>
          <li><i class="icon"></i>icon-alert-content-not-available</li>
          <li><i class="icon"></i>icon-icon-alert-not-authorized</li>
          <li><i class="icon"></i>icon-alert-warning</li>
          <li><i class="icon"></i>icon-attention</li>
          <li><i class="icon"></i>icon-atv-vehicle</li>
          <li><i class="icon"></i>icon-bank</li>
          <li><i class="icon"></i>icon-benefit-car-repair</li>
          <li><i class="icon"></i>icon-boat-insurance</li>
          <li><i class="icon"></i>icon-bullet-check-mark</li>
          <li><i class="icon"></i>icon-bullet-not-valid</li>
          <li><i class="icon"></i>icon-call</li>
          <li><i class="icon"></i>icon-camera</li>
          <li><i class="icon"></i>icon-car-primary-</li>
          <li><i class="icon"></i>icon-car-repair-benefit</li>
          <li><i class="icon"></i>icon-car-secondary-option</li>
          <li><i class="icon"></i>icon-carousel-left</li>
          <li><i class="icon"></i>icon-carousel-right</li>
          <li><i class="icon"></i>icon-chat</li>
          <li><i class="icon"></i>icon-chat-question</li>
          <li><i class="icon"></i>icon-check-mark</li>
          <li><i class="icon"></i>icon-claims-hotline</li>
          <li><i class="icon"></i>icon-close</li>
          <li><i class="icon"></i>icon-condominium</li>
          <li><i class="icon"></i>icon-construction-worker</li>
          <li><i class="icon"></i>icon-date-picker</li>
          <li><i class="icon"></i>icon-deductible-waiver</li>
          <li><i class="icon"></i>icon-disappearing-deductible</li>
          <li><i class="icon"></i>icon-edit</li>
          <li><i class="icon"></i>icon-help</li>
          <li><i class="icon"></i>icon-house</li>
          <li><i class="icon"></i>icon-id-card</li>
          <li><i class="icon"></i>icon-in-progress</li>
          <li><i class="icon"></i>icon-launch-video</li>
          <li><i class="icon"></i>icon-lifetime-renewability</li>
          <li><i class="icon"></i>icon-lightbulb</li>
          <li><i class="icon"></i>icon-menu</li>
          <li><i class="icon"></i>icon-minus</li>
          <li><i class="icon"></i>icon-money</li>
          <li><i class="icon"></i>icon-more-information</li>
          <li><i class="icon"></i>icon-my-account</li>
          <li><i class="icon"></i>icon-not-valid</li>
          <li><i class="icon"></i>icon-notifications</li>
          <li><i class="icon"></i>icon-one-deductible</li>
          <li><i class="icon"></i>icon-plus</li>
          <li><i class="icon"></i>icon-policy</li>
          <li><i class="icon"></i>icon-present-benefits</li>
          <li><i class="icon"></i>icon-print</li>
          <li><i class="icon"></i>icon-questions</li>
          <li><i class="icon"></i>icon-rate-protection</li>
          <li><i class="icon"></i>icon-recovery-care</li>
          <li><i class="icon"></i>icon-renters</li>
          <li><i class="icon"></i>icon-replacement-keys</li>
          <li><i class="icon"></i>icon-save</li>
          <li><i class="icon"></i>icon-save-or-view-pdf</li>
          <li><i class="icon"></i>icon-search</li>
          <li><i class="icon"></i>icon-secure</li>
          <li><i class="icon"></i>icon-settings</li>
          <li><i class="icon"></i>icon-secure-1</li>
          <li><i class="icon"></i>icon-shopping-kart</li>
          <li><i class="icon"></i>icon-star</li>
          <li><i class="icon"></i>icon-update</li>
          <li><i class="icon"></i>icon-view</li>
          <li><i class="icon"></i>icon-view-hidden</li>
          <li><i class="icon"></i>icon-waiver-deductible</li>
          <li><i class="icon"></i>icon-wallet</li>
          <li><i class="icon"></i>icon-check</li>
          <li><i class="icon"></i>icon-email</li>
          <li><i class="icon"></i>icon-exclamation</li>
          <li><i class="icon"></i>icon-benefits</li>
          <li><i class="icon"></i>icon-billing</li>
          <li><i class="icon"></i>icon-document</li>
          <li><i class="icon"></i>icon-dashboard</li>
          <li><i class="icon"></i>icon-folder</li>
          <li><i class="icon"></i>icon-users</li>
          <li><i class="icon"></i>icon-double-caret</li>
          <li><i class="icon"></i>icon-primative-dot</li>
          <li><i class="icon"></i>icon-caret-down</li>
          <li><i class="icon"></i>icon-caret-left</li>
          <li><i class="icon"></i>icon-caret-right</li>
          <li><i class="icon"></i>icon-caret-up</li>
          <li><i class="icon"></i>icon-trash</li>
          <li><i class="icon"></i>icon-dollar</li>
          <li><i class="icon"></i>icon-audit</li>
          <li><i class="icon"></i>icon-claims</li>
          <li><i class="icon"></i>icon-documents</li>
          <li><i class="icon"></i>icon-general-liability</li>
          <li><i class="icon"></i>icon-policies</li>
          <li><i class="icon"></i>icon-secure-1</li>
          <li><i class="icon"></i>icon-video</li>
          <li><i class="icon"></i>icon-workers-comp</li>
          <li><i class="icon"></i>icon-property</li>
          <li><i class="icon"></i>icon-umbrella</li>
          <li><i class="icon"></i>icon-user</li>
          <li><i class="icon"></i>icon-pdf</li>
          <li><i class="icon"></i>icon-date-picker</li>
          <li><i class="icon"></i>icon-shield</li>
          <li><i class="icon"></i>icon-refresh</li>
          <li><i class="icon"></i>icon-twitter</li>
          <li><i class="icon"></i>icon-youtube</li>
          <li><i class="icon"></i>icon-spinner</li>
          <li><i class="icon"></i>icon-google-plus</li>
          <li><i class="icon"></i>icon-caret-down-alt</li>
          <li><i class="icon"></i>icon-caret-left-alt</li>
          <li><i class="icon"></i>icon-caret-right-alt</li>
          <li><i class="icon"></i>icon-caret-up-alt</li>
          <li><i class="icon"></i>icon-linkedin</li>
          <li><i class="icon"></i>icon-facebook</li>
          <li><i class="icon"></i>icon-play</li>
          <li><i class="icon"></i>icon-sort-down</li>
          <li><i class="icon"></i>icon-sort-up</li>
          <li><i class="icon"></i>icon-fax</li>
          <li><i class="icon"></i>icon-scales</li>
          <li><i class="icon"></i>icon-group-benefits</li>
          <li><i class="icon"></i>icon-car-alt</li>
          <li><i class="icon"></i>icon-general-pro-liability</li>
          <li><i class="icon"></i>icon-general-liability-alt</li>
          <li><i class="icon"></i>icon-percentage</li>
          <li><i class="icon"></i>icon-stop</li>
          <li><i class="icon"></i>icon-start-issue</li>
          <li><i class="icon"></i>icon-tree</li>
          <li><i class="icon"></i>icon-computer</li>
          <li><i class="icon"></i>icon-chat-menu</li>
          <li><i class="icon"></i>icon-certificate-of-insurance</li>
          <li><i class="icon"></i>icon-doc</li>
          <li><i class="icon"></i>icon-manage-users</li>
          <li><i class="icon"></i>icon-spreadsheet</li>
          <li><i class="icon"></i>icon-esign</li>

      </div>
    </div>
  </div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
