{{#> header/primary title="Web Font"}}{{/header/primary}}
{{#> higux-demopage}}{{/higux-demopage}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <h1>HIG UX KIT : HIGUX Font [v 1.23]</h1>

        <p>Custom HIGUX webfont. usage is similar to <a href="http://fontawesome.io/">Font Awesome</a>, but uses <code>icon</code> instead of <code>fa</code> naming convention</p>
        <div class="row">
          <div class="col-xs-6">
            <h4>Sample Code:</h4>
            <pre class="pre-scrollable"><code class="html">&lt;i class="icon icon-add-function"&gt;&lt;/i&gt;</code></pre>
          </div>
          <div class="col-xs-6">
            <h4>Output:</h4>
            <i class="icon icon-add-function"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <pre class="pre-scrollable"><code class="html">&lt;i class="icon icon-house"&gt;&lt;/i&gt;</code></pre>
          </div>
          <div class="col-xs-6">
            <i class="icon icon-house"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 content">
        <h2>CSS mapping</h2>
        <ul class="glyphs css-mapping">
          <li>
            <div class="icon icon-accident-forgiveness-benefit"></div>
            <input type="text" readonly="readonly" value="accident-forgiveness-benefit">
          </li>
          <li>
            <div class="icon icon-add-function"></div>
            <input type="text" readonly="readonly" value="add-function">
          </li>
          <li>
            <div class="icon icon-alert-content-not-available"></div>
            <input type="text" readonly="readonly" value="alert-content-not-available">
          </li>
          <li>
            <div class="icon icon-alert-not-authorized"></div>
            <input type="text" readonly="readonly" value="alert-not-authorized">
          </li>
          <li>
            <div class="icon icon-alert-warning"></div>
            <input type="text" readonly="readonly" value="alert-warning">
          </li>
          <li>
            <div class="icon icon-attention"></div>
            <input type="text" readonly="readonly" value="attention">
          </li>
          <li>
            <div class="icon icon-atv-vehicle"></div>
            <input type="text" readonly="readonly" value="atv-vehicle">
          </li>
          <li>
            <div class="icon icon-bank"></div>
            <input type="text" readonly="readonly" value="bank">
          </li>
          <li>
            <div class="icon icon-benefit-car-repair"></div>
            <input type="text" readonly="readonly" value="benefit-car-repair">
          </li>
          <li>
            <div class="icon icon-boat-insurance"></div>
            <input type="text" readonly="readonly" value="boat-insurance">
          </li>
          <li>
            <div class="icon icon-bullet-check-mark"></div>
            <input type="text" readonly="readonly" value="bullet-check-mark">
          </li>
          <li>
            <div class="icon icon-bullet-not-valid"></div>
            <input type="text" readonly="readonly" value="bullet-not-valid">
          </li>
          <li>
            <div class="icon icon-call"></div>
            <input type="text" readonly="readonly" value="call">
          </li>
          <li>
            <div class="icon icon-camera"></div>
            <input type="text" readonly="readonly" value="camera">
          </li>
          <li>
            <div class="icon icon-car-primary-option"></div>
            <input type="text" readonly="readonly" value="car-primary-option">
          </li>
          <li>
            <div class="icon icon-car-repair-benefit"></div>
            <input type="text" readonly="readonly" value="car-repair-benefit">
          </li>
          <li>
            <div class="icon icon-car-secondary-option"></div>
            <input type="text" readonly="readonly" value="car-secondary-option">
          </li>
          <li>
            <div class="icon icon-carousel-left"></div>
            <input type="text" readonly="readonly" value="carousel-left">
          </li>
          <li>
            <div class="icon icon-carousel-right"></div>
            <input type="text" readonly="readonly" value="carousel-right">
          </li>
          <li>
            <div class="icon icon-chat"></div>
            <input type="text" readonly="readonly" value="chat">
          </li>
          <li>
            <div class="icon icon-chat-question"></div>
            <input type="text" readonly="readonly" value="chat-question">
          </li>
          <li>
            <div class="icon icon-check-mark"></div>
            <input type="text" readonly="readonly" value="check-mark">
          </li>
          <li>
            <div class="icon icon-claims-hotline"></div>
            <input type="text" readonly="readonly" value="claims-hotline">
          </li>
          <li>
            <div class="icon icon-close"></div>
            <input type="text" readonly="readonly" value="close">
          </li>
          <li>
            <div class="icon icon-condominium"></div>
            <input type="text" readonly="readonly" value="condominium">
          </li>
          <li>
            <div class="icon icon-construction-worker"></div>
            <input type="text" readonly="readonly" value="construction-worker">
          </li>
          <li>
            <div class="icon icon-deductible-waiver"></div>
            <input type="text" readonly="readonly" value="deductible-waiver">
          </li>
          <li>
            <div class="icon icon-disappearing-deductible"></div>
            <input type="text" readonly="readonly" value="disappearing-deductible">
          </li>
          <li>
            <div class="icon icon-edit"></div>
            <input type="text" readonly="readonly" value="edit">
          </li>
          <li>
            <div class="icon icon-help"></div>
            <input type="text" readonly="readonly" value="help">
          </li>
          <li>
            <div class="icon icon-house"></div>
            <input type="text" readonly="readonly" value="house">
          </li>
          <li>
            <div class="icon icon-id-card"></div>
            <input type="text" readonly="readonly" value="id-card">
          </li>
          <li>
            <div class="icon icon-in-progress"></div>
            <input type="text" readonly="readonly" value="in-progress">
          </li>
          <li>
            <div class="icon icon-launch-video"></div>
            <input type="text" readonly="readonly" value="launch-video">
          </li>
          <li>
            <div class="icon icon-lifetime-renewability"></div>
            <input type="text" readonly="readonly" value="lifetime-renewability">
          </li>
          <li>
            <div class="icon icon-lightbulb"></div>
            <input type="text" readonly="readonly" value="lightbulb">
          </li>
          <li>
            <div class="icon icon-menu"></div>
            <input type="text" readonly="readonly" value="menu">
          </li>
          <li>
            <div class="icon icon-minus"></div>
            <input type="text" readonly="readonly" value="minus">
          </li>
          <li>
            <div class="icon icon-money"></div>
            <input type="text" readonly="readonly" value="money">
          </li>
          <li>
            <div class="icon icon-more-information"></div>
            <input type="text" readonly="readonly" value="more-information">
          </li>
          <li>
            <div class="icon icon-my-account"></div>
            <input type="text" readonly="readonly" value="my-account">
          </li>
          <li>
            <div class="icon icon-not-valid"></div>
            <input type="text" readonly="readonly" value="not-valid">
          </li>
          <li>
            <div class="icon icon-notifications"></div>
            <input type="text" readonly="readonly" value="notifications">
          </li>
          <li>
            <div class="icon icon-one-deductible"></div>
            <input type="text" readonly="readonly" value="one-deductible">
          </li>
          <li>
            <div class="icon icon-plus"></div>
            <input type="text" readonly="readonly" value="plus">
          </li>
          <li>
            <div class="icon icon-policy"></div>
            <input type="text" readonly="readonly" value="policy">
          </li>
          <li>
            <div class="icon icon-present-benefits"></div>
            <input type="text" readonly="readonly" value="present-benefits">
          </li>
          <li>
            <div class="icon icon-print"></div>
            <input type="text" readonly="readonly" value="print">
          </li>
          <li>
            <div class="icon icon-questions"></div>
            <input type="text" readonly="readonly" value="questions">
          </li>
          <li>
            <div class="icon icon-rate-protection"></div>
            <input type="text" readonly="readonly" value="rate-protection">
          </li>
          <li>
            <div class="icon icon-recovery-care"></div>
            <input type="text" readonly="readonly" value="recovery-care">
          </li>
          <li>
            <div class="icon icon-renters"></div>
            <input type="text" readonly="readonly" value="renters">
          </li>
          <li>
            <div class="icon icon-replacement-keys"></div>
            <input type="text" readonly="readonly" value="replacement-keys">
          </li>
          <li>
            <div class="icon icon-save"></div>
            <input type="text" readonly="readonly" value="save">
          </li>
          <li>
            <div class="icon icon-save-or-view-pdf"></div>
            <input type="text" readonly="readonly" value="save-or-view-pdf">
          </li>
          <li>
            <div class="icon icon-search"></div>
            <input type="text" readonly="readonly" value="search">
          </li>
          <li>
            <div class="icon icon-secure"></div>
            <input type="text" readonly="readonly" value="secure">
          </li>
          <li>
            <div class="icon icon-settings"></div>
            <input type="text" readonly="readonly" value="settings">
          </li>
          <li>
            <div class="icon icon-shopping-kart"></div>
            <input type="text" readonly="readonly" value="shopping-kart">
          </li>
          <li>
            <div class="icon icon-star"></div>
            <input type="text" readonly="readonly" value="star">
          </li>
          <li>
            <div class="icon icon-update"></div>
            <input type="text" readonly="readonly" value="update">
          </li>
          <li>
            <div class="icon icon-view"></div>
            <input type="text" readonly="readonly" value="view">
          </li>
          <li>
            <div class="icon icon-view-hidden"></div>
            <input type="text" readonly="readonly" value="view-hidden">
          </li>
          <li>
            <div class="icon icon-waiver-deductible"></div>
            <input type="text" readonly="readonly" value="waiver-deductible">
          </li>
          <li>
            <div class="icon icon-wallet"></div>
            <input type="text" readonly="readonly" value="wallet">
          </li>
          <li>
            <div class="icon icon-check"></div>
            <input type="text" readonly="readonly" value="check">
          </li>
          <li>
            <div class="icon icon-email"></div>
            <input type="text" readonly="readonly" value="email">
          </li>
          <li>
            <div class="icon icon-exclamation"></div>
            <input type="text" readonly="readonly" value="exclamation">
          </li>
          <li>
            <div class="icon icon-benefits"></div>
            <input type="text" readonly="readonly" value="benefits">
          </li>
          <li>
            <div class="icon icon-billing"></div>
            <input type="text" readonly="readonly" value="billing">
          </li>
          <li>
            <div class="icon icon-document"></div>
            <input type="text" readonly="readonly" value="document">
          </li>
          <li>
            <div class="icon icon-dashboard"></div>
            <input type="text" readonly="readonly" value="dashboard">
          </li>
          <li>
            <div class="icon icon-folder"></div>
            <input type="text" readonly="readonly" value="folder">
          </li>
          <li>
            <div class="icon icon-users"></div>
            <input type="text" readonly="readonly" value="users">
          </li>
          <li>
            <div class="icon icon-double-caret"></div>
            <input type="text" readonly="readonly" value="double-caret">
          </li>
          <li>
            <div class="icon icon-primative-dot"></div>
            <input type="text" readonly="readonly" value="primative-dot">
          </li>
          <li>
            <div class="icon icon-caret-down"></div>
            <input type="text" readonly="readonly" value="caret-down">
          </li>
          <li>
            <div class="icon icon-caret-left"></div>
            <input type="text" readonly="readonly" value="caret-left">
          </li>
          <li>
            <div class="icon icon-caret-right"></div>
            <input type="text" readonly="readonly" value="caret-right">
          </li>
          <li>
            <div class="icon icon-caret-up"></div>
            <input type="text" readonly="readonly" value="caret-up">
          </li>
          <li>
            <div class="icon icon-trash"></div>
            <input type="text" readonly="readonly" value="trash">
          </li>
          <li>
            <div class="icon icon-dollar"></div>
            <input type="text" readonly="readonly" value="dollar">
          </li>
          <li>
            <div class="icon icon-audit"></div>
            <input type="text" readonly="readonly" value="audit">
          </li>
          <li>
            <div class="icon icon-claims"></div>
            <input type="text" readonly="readonly" value="claims">
          </li>
          <li>
            <div class="icon icon-documents"></div>
            <input type="text" readonly="readonly" value="documents">
          </li>
          <li>
            <div class="icon icon-general-liability"></div>
            <input type="text" readonly="readonly" value="general-liability">
          </li>
          <li>
            <div class="icon icon-policies"></div>
            <input type="text" readonly="readonly" value="policies">
          </li>
          <li>
            <div class="icon icon-secure-1"></div>
            <input type="text" readonly="readonly" value="secure-1">
          </li>
          <li>
            <div class="icon icon-video"></div>
            <input type="text" readonly="readonly" value="video">
          </li>
          <li>
            <div class="icon icon-workers-comp"></div>
            <input type="text" readonly="readonly" value="workers-comp">
          </li>
          <li>
            <div class="icon icon-property"></div>
            <input type="text" readonly="readonly" value="property">
          </li>
          <li>
            <div class="icon icon-umbrella"></div>
            <input type="text" readonly="readonly" value="umbrella">
          </li>
          <li>
            <div class="icon icon-user"></div>
            <input type="text" readonly="readonly" value="user">
          </li>
          <li>
            <div class="icon icon-pdf"></div>
            <input type="text" readonly="readonly" value="pdf">
          </li>
          <li>
            <div class="icon icon-date-picker"></div>
            <input type="text" readonly="readonly" value="date-picker">
          </li>
          <li>
            <div class="icon icon-shield"></div>
            <input type="text" readonly="readonly" value="shield">
          </li>
          <li>
            <div class="icon icon-refresh"></div>
            <input type="text" readonly="readonly" value="refresh">
          </li>
          <li>
            <div class="icon icon-twitter"></div>
            <input type="text" readonly="readonly" value="twitter">
          </li>
          <li>
            <div class="icon icon-youtube"></div>
            <input type="text" readonly="readonly" value="youtube">
          </li>
          <li>
            <div class="icon icon-spinner"></div>
            <input type="text" readonly="readonly" value="spinner">
          </li>
          <li>
            <div class="icon icon-google-plus"></div>
            <input type="text" readonly="readonly" value="google-plus">
          </li>
          <li>
            <div class="icon icon-caret-down-alt"></div>
            <input type="text" readonly="readonly" value="caret-down-alt">
          </li>
          <li>
            <div class="icon icon-caret-left-alt"></div>
            <input type="text" readonly="readonly" value="caret-left-alt">
          </li>
          <li>
            <div class="icon icon-caret-right-alt"></div>
            <input type="text" readonly="readonly" value="caret-right-alt">
          </li>
          <li>
            <div class="icon icon-caret-up-alt"></div>
            <input type="text" readonly="readonly" value="caret-up-alt">
          </li>
          <li>
            <div class="icon icon-linkedin"></div>
            <input type="text" readonly="readonly" value="linkedin">
          </li>
          <li>
            <div class="icon icon-facebook"></div>
            <input type="text" readonly="readonly" value="facebook">
          </li>
          <li>
            <div class="icon icon-play"></div>
            <input type="text" readonly="readonly" value="play">
          </li>
          <li>
            <div class="icon icon-sort-down"></div>
            <input type="text" readonly="readonly" value="sort-down">
          </li>
          <li>
            <div class="icon icon-sort-up"></div>
            <input type="text" readonly="readonly" value="sort-up">
          </li>
          <li>
            <div class="icon icon-fax"></div>
            <input type="text" readonly="readonly" value="fax">
          </li>
          <li>
            <div class="icon icon-scales"></div>
            <input type="text" readonly="readonly" value="scales">
          </li>
          <li>
            <div class="icon icon-group-benefits"></div>
            <input type="text" readonly="readonly" value="group-benefits">
          </li>
          <li>
            <div class="icon icon-car-alt"></div>
            <input type="text" readonly="readonly" value="car-alt">
          </li>
          <li>
            <div class="icon icon-general-pro-liability"></div>
            <input type="text" readonly="readonly" value="general-pro-liability">
          </li>
          <li>
            <div class="icon icon-general-liability-alt"></div>
            <input type="text" readonly="readonly" value="general-liability-alt">
          </li>
          <li>
            <div class="icon icon-percentage"></div>
            <input type="text" readonly="readonly" value="percentage">
          </li>
          <li>
            <div class="icon icon-stop"></div>
            <input type="text" readonly="readonly" value="stop">
          </li>
          <li>
            <div class="icon icon-start-issue"></div>
            <input type="text" readonly="readonly" value="start-issue">
          </li>
          <li>
            <div class="icon icon-tree"></div>
            <input type="text" readonly="readonly" value="tree">
          </li>
          <li>
            <div class="icon icon-computer"></div>
            <input type="text" readonly="readonly" value="computer">
          </li>
          <li>
            <div class="icon icon-chat-menu"></div>
            <input type="text" readonly="readonly" value="chat-menu">
          </li>
          <li>
            <div class="icon icon-certificate-of-insurance"></div>
            <input type="text" readonly="readonly" value="certificate-of-insurance">
          </li>
          <li>
            <div class="icon icon-doc"></div>
            <input type="text" readonly="readonly" value="doc">
          </li>
          <li>
            <div class="icon icon-manage-users"></div>
            <input type="text" readonly="readonly" value="manage-users">
          </li>
          <li>
            <div class="icon icon-spreadsheet"></div>
            <input type="text" readonly="readonly" value="spreadsheet">
          </li>
          <li>
            <div class="icon icon-esign"></div>
            <input type="text" readonly="readonly" value="esign">
          </li>
        </ul>










        </ul>
        <h2>Character mapping</h2>
        <ul class="glyphs character-mapping">
          <li>
            <div data-icon="&#xe000;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe000;">
          </li>
          <li>
            <div data-icon="&#xe001;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe001;">
          </li>
          <li>
            <div data-icon="&#xe002;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe002;">
          </li>
          <li>
            <div data-icon="&#xe003;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe003;">
          </li>
          <li>
            <div data-icon="&#xe004;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe004;">
          </li>
          <li>
            <div data-icon="&#xe005;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe005;">
          </li>
          <li>
            <div data-icon="&#xe006;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe006;">
          </li>
          <li>
            <div data-icon="&#xe007;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe007;">
          </li>
          <li>
            <div data-icon="&#xe008;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe008;">
          </li>
          <li>
            <div data-icon="&#xe009;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe009;">
          </li>
          <li>
            <div data-icon="&#xe00a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00a;">
          </li>
          <li>
            <div data-icon="&#xe00b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00b;">
          </li>
          <li>
            <div data-icon="&#xe00c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00c;">
          </li>
          <li>
            <div data-icon="&#xe00d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00d;">
          </li>
          <li>
            <div data-icon="&#xe00e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00e;">
          </li>
          <li>
            <div data-icon="&#xe00f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe00f;">
          </li>
          <li>
            <div data-icon="&#xe010;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe010;">
          </li>
          <li>
            <div data-icon="&#xe011;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe011;">
          </li>
          <li>
            <div data-icon="&#xe012;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe012;">
          </li>
          <li>
            <div data-icon="&#xe013;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe013;">
          </li>
          <li>
            <div data-icon="&#xe014;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe014;">
          </li>
          <li>
            <div data-icon="&#xe015;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe015;">
          </li>
          <li>
            <div data-icon="&#xe016;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe016;">
          </li>
          <li>
            <div data-icon="&#xe017;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe017;">
          </li>
          <li>
            <div data-icon="&#xe018;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe018;">
          </li>
          <li>
            <div data-icon="&#xe019;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe019;">
          </li>
          <li>
            <div data-icon="&#xe01b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01b;">
          </li>
          <li>
            <div data-icon="&#xe01c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01c;">
          </li>
          <li>
            <div data-icon="&#xe01d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01d;">
          </li>
          <li>
            <div data-icon="&#xe01e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01e;">
          </li>
          <li>
            <div data-icon="&#xe01f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01f;">
          </li>
          <li>
            <div data-icon="&#xe020;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe020;">
          </li>
          <li>
            <div data-icon="&#xe021;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe021;">
          </li>
          <li>
            <div data-icon="&#xe022;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe022;">
          </li>
          <li>
            <div data-icon="&#xe023;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe023;">
          </li>
          <li>
            <div data-icon="&#xe024;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe024;">
          </li>
          <li>
            <div data-icon="&#xe025;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe025;">
          </li>
          <li>
            <div data-icon="&#xe026;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe026;">
          </li>
          <li>
            <div data-icon="&#xe027;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe027;">
          </li>
          <li>
            <div data-icon="&#xe028;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe028;">
          </li>
          <li>
            <div data-icon="&#xe029;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe029;">
          </li>
          <li>
            <div data-icon="&#xe02a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02a;">
          </li>
          <li>
            <div data-icon="&#xe02b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02b;">
          </li>
          <li>
            <div data-icon="&#xe02c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02c;">
          </li>
          <li>
            <div data-icon="&#xe02d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02d;">
          </li>
          <li>
            <div data-icon="&#xe02e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02e;">
          </li>
          <li>
            <div data-icon="&#xe02f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe02f;">
          </li>
          <li>
            <div data-icon="&#xe030;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe030;">
          </li>
          <li>
            <div data-icon="&#xe031;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe031;">
          </li>
          <li>
            <div data-icon="&#xe032;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe032;">
          </li>
          <li>
            <div data-icon="&#xe033;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe033;">
          </li>
          <li>
            <div data-icon="&#xe034;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe034;">
          </li>
          <li>
            <div data-icon="&#xe035;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe035;">
          </li>
          <li>
            <div data-icon="&#xe036;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe036;">
          </li>
          <li>
            <div data-icon="&#xe037;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe037;">
          </li>
          <li>
            <div data-icon="&#xe038;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe038;">
          </li>
          <li>
            <div data-icon="&#xe039;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe039;">
          </li>
          <li>
            <div data-icon="&#xe03a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03a;">
          </li>
          <li>
            <div data-icon="&#xe03c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03c;">
          </li>
          <li>
            <div data-icon="&#xe03d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03d;">
          </li>
          <li>
            <div data-icon="&#xe03e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03e;">
          </li>
          <li>
            <div data-icon="&#xe03f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03f;">
          </li>
          <li>
            <div data-icon="&#xe040;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe040;">
          </li>
          <li>
            <div data-icon="&#xe041;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe041;">
          </li>
          <li>
            <div data-icon="&#xe042;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe042;">
          </li>
          <li>
            <div data-icon="&#xe048;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe048;">
          </li>
          <li>
            <div data-icon="&#xe049;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe049;">
          </li>
          <li>
            <div data-icon="&#xe04a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04a;">
          </li>
          <li>
            <div data-icon="&#xe04b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04b;">
          </li>
          <li>
            <div data-icon="&#xe04c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04c;">
          </li>
          <li>
            <div data-icon="&#xe04d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04d;">
          </li>
          <li>
            <div data-icon="&#xe04e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04e;">
          </li>
          <li>
            <div data-icon="&#xe04f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe04f;">
          </li>
          <li>
            <div data-icon="&#xe050;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe050;">
          </li>
          <li>
            <div data-icon="&#xe051;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe051;">
          </li>
          <li>
            <div data-icon="&#xe043;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe043;">
          </li>
          <li>
            <div data-icon="&#xe044;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe044;">
          </li>
          <li>
            <div data-icon="&#xe045;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe045;">
          </li>
          <li>
            <div data-icon="&#xe046;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe046;">
          </li>
          <li>
            <div data-icon="&#xe047;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe047;">
          </li>
          <li>
            <div data-icon="&#xe053;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe053;">
          </li>
          <li>
            <div data-icon="&#xe052;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe052;">
          </li>
          <li>
            <div data-icon="&#xe054;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe054;">
          </li>
          <li>
            <div data-icon="&#xe055;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe055;">
          </li>
          <li>
            <div data-icon="&#xe056;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe056;">
          </li>
          <li>
            <div data-icon="&#xe057;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe057;">
          </li>
          <li>
            <div data-icon="&#xe058;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe058;">
          </li>
          <li>
            <div data-icon="&#xe059;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe059;">
          </li>
          <li>
            <div data-icon="&#xe05a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05a;">
          </li>
          <li>
            <div data-icon="&#xe05b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05b;">
          </li>
          <li>
            <div data-icon="&#xe05c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05c;">
          </li>
          <li>
            <div data-icon="&#xe05d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05d;">
          </li>
          <li>
            <div data-icon="&#xe05e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05e;">
          </li>
          <li>
            <div data-icon="&#xe05f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe05f;">
          </li>
          <li>
            <div data-icon="&#xe01a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe01a;">
          </li>
          <li>
            <div data-icon="&#xe03b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe03b;">
          </li>
          <li>
            <div data-icon="&#xe067;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe067;">
          </li>
          <li>
            <div data-icon="&#xe060;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe060;">
          </li>
          <li>
            <div data-icon="&#xe061;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe061;">
          </li>
          <li>
            <div data-icon="&#xe062;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe062;">
          </li>
          <li>
            <div data-icon="&#xe063;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe063;">
          </li>
          <li>
            <div data-icon="&#xe064;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe064;">
          </li>
          <li>
            <div data-icon="&#xe065;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe065;">
          </li>
          <li>
            <div data-icon="&#xe066;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe066;">
          </li>
          <li>
            <div data-icon="&#xe068;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe068;">
          </li>
          <li>
            <div data-icon="&#xe069;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe069;">
          </li>
          <li>
            <div data-icon="&#xe06a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06a;">
          </li>
          <li>
            <div data-icon="&#xe06b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06b;">
          </li>
          <li>
            <div data-icon="&#xe06c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06c;">
          </li>
          <li>
            <div data-icon="&#xe06d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06d;">
          </li>
          <li>
            <div data-icon="&#xe06e;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06e;">
          </li>
          <li>
            <div data-icon="&#xe072;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe072;">
          </li>
          <li>
            <div data-icon="&#xe073;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe073;">
          </li>
          <li>
            <div data-icon="&#xe074;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe074;">
          </li>
          <li>
            <div data-icon="&#xe06f;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe06f;">
          </li>
          <li>
            <div data-icon="&#xe070;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe070;">
          </li>
          <li>
            <div data-icon="&#xe071;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe071;">
          </li>
          <li>
            <div data-icon="&#xe075;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe075;">
          </li>
          <li>
            <div data-icon="&#xe076;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe076;">
          </li>
          <li>
            <div data-icon="&#xe077;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe077;">
          </li>
          <li>
            <div data-icon="&#xe078;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe078;">
          </li>
          <li>
            <div data-icon="&#xe079;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe079;">
          </li>
          <li>
            <div data-icon="&#xe07a;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe07a;">
          </li>
          <li>
            <div data-icon="&#xe07b;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe07b;">
          </li>
          <li>
            <div data-icon="&#xe07c;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe07c;">
          </li>
          <li>
            <div data-icon="&#xe07d;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe07d;">
          </li>
          <li>
            <div data-icon="&#xe080;" class="icon"></div>
            <input type="text" readonly="readonly" value="&amp;#xe080;">
          </li>






        </ul>
      </div>
    </div>


  </div>

  <script>
    (function() {
      var glyphs, i, len, ref;

      ref = document.getElementsByClassName('glyphs');
      for (i = 0, len = ref.length; i < len; i++) {
        glyphs = ref[i];
        glyphs.addEventListener('click', function(event) {
          if (event.target.tagName === 'INPUT') {
            return event.target.select();
          }
        });
      }

    }).call(this);
  </script>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
