{{#> header/primary}} {{/header/primary}}
  <div class="container">
    <div class="row card">
      <div class="col-md-8">
        <h1>Welcome to HIG UX-KIT <small style="color: #888888">ver. %%GULP_INJECT_VERSION%%</small></h1>
        <p><a href="https://github.thehartford.com/HIS/mce_hig_ux_kit"><button class="btn btn-secondary-paired btn-xs">View Repo on GitHub</button></a></p>
        <p>The implementation of the official HIG UXKIT has been developed as a bootstrap 3 theme. This theme is intended to be included in your project as a parent theme. Instructions for including as a node dependancy can be found on our <a href="https://github.thehartford.com/HIS/mce_hig_ux_kit">github page</a>.</p>
        <h2>Colors</h2>
        <p>For reference, these are the colors used in the kit:</p>
        {{#> color-swatches}} {{/color-swatches}}
      </div>
      <div class="col-md-4">
        <div class="sidebar-right sidebar-higux">
          {{#> sidebar}} {{/sidebar}}
        </div>
      </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

