{{#> header/primary title="Intro Messaging"}}{{/header/primary}}

<div class="container">
    <div class="card">
        <div class="row intro">
            <div class="col-sm-12 col-md-7">
                <div class="intro-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum feugiat volutpat. Fusce sagittis odio orci, et vehicula
                    erat tristique. Etiam intersum feugiat volutpat. Fusce sagittis odio orci, et vehicula erat tristique.
                </div>
            </div>
            <div class="col-sm-12 col-md-5 intro-row">
                <h5 class="intro-row-title">
                    My Auto Insurance Quote
                </h5>
                <div class="row vdivide ">
                    <section class="col-xs-6 col-md-5 section-left ">
                        Amount: $2,580
                    </section>
                    <section class="col-xs-6 col-md-5 section-right">
                        Monthly: $215.00
                    </section>
                </div>
                <div class="col-sm-12 intro-active button">
                    <br>
                    <button type="button" class="btn btn-primary btn-block"> Active Button State </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="card">
        <div class="row message">
            <div class="col-xs-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum feugiat volutpat. Fusce sagittis odio orci, et vehicula
                erat tristique. Etiam intersum feugiat volutpat. Fusce sagittis odio orci, et vehicula erat tristique.
            </div>
        </div>
    </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>










