{{#> header/primary title="Loading Pattern"}}{{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Loading Pattern</h1>
      </div>
    </div>
    <div class="row card">
      <div class="animated-loader" id="Loader1">
        <div class="background-mask header-top"></div>
        <div class="background-mask header-left"></div>
        <div class="background-mask header-right"></div>
        <div class="background-mask header-bottom"></div>
        <div class="background-mask subheader-left"></div>
        <div class="background-mask subheader-right"></div>
        <div class="background-mask subheader-bottom"></div>
        <div class="background-mask content-top"></div>
        <div class="background-mask content-first-end"></div>
        <div class="background-mask content-second-line"></div>
        <div class="background-mask content-second-end"></div>
        <div class="background-mask content-third-line"></div>
        <div class="background-mask content-third-end"></div>
        </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

