{{#> header/primary title="Marketing Containers"}}{{/header/primary}}

<div class="container">
    <div class="row card">
        <div class="col-md-12 ">
            <h1>HIG UX KIT : Marketing Containers</h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="marketing-container card">
                <i class="icon icon-car-secondary-option"></i>
                <div class="marketing-container-content">
                    <h3 class="marketing-container-header">Report Auto Claim</h3>
                    <p class="marketing-container-description">You will need policy holder information and accident or loss details.</p>
                </div>
                <button class="btn btn-secondary btn-block">Report an Auto Claim</button>
                <button class="btn btn-secondary btn-block">Report a Glass Claim</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="marketing-container card">
                <i class="icon icon-condominium"></i>
                <div class="marketing-container-content">
                    <h3 class="marketing-container-header">Report Home Claim</h3>
                    <p class="marketing-container-description">You will need policy holder information and accident or loss details.</p>
                </div>
                <button class="btn btn-secondary btn-block">Report a Home Claim</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="marketing-container card">
                <div class="marketing-container-content">
                    <h3 class="marketing-container-header">Working with your <br>Claim Adjuster</h3>
                </div>
                <img alt="Marketing Image" src="http://via.placeholder.com/190x100">
                <button class="btn btn-secondary btn-block">Report a Home Claim</button>
            </div>
        </div>
    </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

