{{#> header/primary title="Messaging"}}{{/header/primary}}
  <div class="container alert-messages">
    <div class="row card">
      <div class="col-md-12">
        <h1>HIG UX KIT : Messaging</h1>

      </div>
    </div>
    <div class="row card">
      <div class="col-xs-12">
        <h2>Messaging without close</h2>
        {{#> alert-message type="info" icon="icon-attention" title="Information"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark" title="Success"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning" title="Warning"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention" title="Danger"}}{{/alert-message}}
      </div>
    </div>
    <div class="row card">
      <div class="col-xs-12">
        <h2>Messaging with close</h2>
        {{#> alert-message type="info" icon="icon-attention" title="Information" close="true"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark" title="Success" close="true"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning" title="Warning" close="true"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention" title="Danger" close="true"}}{{/alert-message}}
      </div>
    </div>
    <div class="row card collapse-message">
      <div class="col-xs-12">
        <h2>Messaging with close and expansion</h2>
        {{#> alert-message type="info" icon="icon-attention" title="Information" close="true" readmore="info"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark" title="Success" close="true" readmore="success"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning" title="Warning" close="true" readmore="warning"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention" title="Danger" close="true" readmore="danger"}}{{/alert-message}}
      </div>
    </div>
    <div class="row card alert-messages-optional">
      <div class="col-xs-12">
        <h2>Messaging with optional header</h2>
        {{#> alert-message type="info" icon="icon-attention"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention"}}{{/alert-message}}
      </div>
    </div>
    <div class="row card alert-messages-optional">
      <div class="col-xs-12">
        <h2>Messaging with optional header and close</h2>
        {{#> alert-message type="info" icon="icon-attention" close="true"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark" close="true"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning" close="true"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention" close="true"}}{{/alert-message}}
      </div>
    </div>
    <div class="row card collapse-message optional">
      <div class="col-xs-12">
        <h2>Messaging with optional header, close and expansion</h2>
        {{#> alert-message type="info" icon="icon-attention" close="true" readmore="info2"}}{{/alert-message}}
        {{#> alert-message type="success" icon="icon-check-mark" close="true" readmore="success2"}}{{/alert-message}}
        {{#> alert-message type="warning" icon="icon-alert-warning" close="true" readmore="warning2"}}{{/alert-message}}
        {{#> alert-message type="danger" icon="icon-attention" close="true" readmore="danger2"}}{{/alert-message}}
      </div>
    </div>
  </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

