{{#> header/primary title="Modal"}} {{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <h1>HIG UX KIT : Modal</h1>
        
        <p>For usage, please refer to <a href="http://getbootstrap.com/docs/3.3/javascript/#modals">Bootstrap 3 Docs</a>. We use all standard bootstrap modal classes</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modalWindow">Open Modal</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalWindow" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content card offset">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon icon-close"></i></button>
          <div class="modal-title">Modal Header</div>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu arcu turpis. Curabitur hendrerit molestie tortor ut blandit. Quisque vel mattis nisi, ac euismod sem. Cras ut justo sed enim fringilla vestibulum. Sed quam nunc, aliquam vitae
            egestas a, fringilla vitae sem. Vestibulum magna urna, gravida vel suscipit nec, bibendum et ipsum.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Test Button</button>
          <a href="#" class="" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

