{{#> header/primary title="HIG UX KIT : Multiselect Dropdown Checkbox"}}{{/header/primary}}
<div class="container card">
  <div class="row">
    <div class="col-md-12">
      <h1>HIG UX KIT : Multiselect Dropdown Checkbox</h1>
      <p>Uses <em>bootstrap-select</em> plugin.  Documentation <a href="https://silviomoreto.github.io/bootstrap-select/examples/#multiple-select-boxes">here</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{#> multiselect/multiselect-dropdown-cbx showcode="true"}} {{/ multiselect/multiselect-dropdown-cbx}}
    </div>
  </div>
  <br>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

