{{#> header/primary title="HIG UX KIT : Multiselect Tag/Pill Style"}}{{/header/primary}}
<div class="container card">
  {{#> multiselect/multiselect-tag showcode="true"}} {{/ multiselect/multiselect-tag}}
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

