{{#> header/primary title="HIG UX KIT : Multiselect"}}{{/header/primary}}
<div class="container card">
  {{#> multiselect/multipanel-select showcode="true"}} {{/ multiselect/multipanel-select}}
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

