{{#> header/primary title="Pagination"}}{{/header/primary}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 card">
      <h2>Pagination with an active state: </h2>
      <div><b>Note:</b> Add class <code>.active</code> to view active state.</div>
      {{#> pagination/pagination-default showcode="true"}}{{/ pagination/pagination-default}}
    </div>
    <div class="col-xs-12 card">
      <h2>Pagination with few pages: </h2>
        {{#> pagination/pagination-primary showcode="true"}}{{/ pagination/pagination-primary}}
    </div>
    <div class="col-xs-12 card">
      <h2>Pagination with more pages: </h2>
      {{#> pagination/pagination-secondary showcode="true"}}{{/ pagination/pagination-secondary}}
    </div>
    <div class="col-xs-12 card">
      <h2>Pagination with more pages in-depth: </h2>
      <div>
        <b>Note: </b>For example, since the current page on given example is 7, we remove pages 6 and 8 when displayed in the mobile screens. Please see the example on < 768px.
      </div>
      {{#> pagination/pagination-tertiary showcode="true"}}{{/ pagination/pagination-tertiary}}
    </div>
  </div>
</div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

