{{#> header/primary title="Photo Gallery"}} {{/header/primary}}
      <div class="container">
        <div class="row">
          <div class="col-md-12 card">
            <div><a href="generic-page-photo-gallery-grid.html"><i class="icon icon-caret-left"></i>View Full Gallery</a></div>
            <h3>Here's a Header (optional)</h3>
            <div>Here's some (optional) body copy about this gallery of photos.</div>
              <div class="gallery-viewer-wrapper">
              <div class="carousel-slick">
                {{#> photo-item title="Picture 1" data-id="123123123a" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 2" data-id="123123123b" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 3" data-id="123123123c" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 4" data-id="123123123d" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 5" data-id="123123123e" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 6 With a Loooooooooooong Title" data-id="123123123f" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 7" data-id="123123123g" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 8" data-id="123123123h" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 9" data-id="123123123i" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 10" data-id="123123123j" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 11" data-id="123123123k" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 12 With a very very very very Loooooooooooong Title" data-id="123123123l" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
                {{#> photo-item title="Picture 13" data-id="123123123m" url="http://via.placeholder.com/2000x1333"}}{{/photo-item}}
              </div>
              <div class="carousel-nav-slick" data-slick='{"slidesToScroll":6}'>
                <div><img alt="Picture 1" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 2" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 3" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 4" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 5" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 6" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 7" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 8" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 9" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 10" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 11" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 12" src="http://via.placeholder.com/50x50"></div>
                <div><img alt="Picture 13" src="http://via.placeholder.com/50x50"></div>
              <div >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

