{{#> header/primary title="Photos"}} {{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Photos</h1>
        
        <p>Use the linked PDF file as a "catalog" to browse current HIG Stock Photos.  To use a photo, please e-mail your request for photo of choice to <a href="mailto:kristen.msadoques@thehartford.com">Kristen Kelly-M'Sadoques</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <a href="https://github.thehartford.com/HIS/mce_hig_ux_kit/blob/master/sources/17-0990_Photo_Library_Catalog_FINAL.pdf">17-0990_Photo_Library_Catalog_FINAL.pdf</a>
      </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

