{{#> header/primary title="Progress Bar"}} {{/header/primary}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Progress Bar</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <ul class="progress-list">
            <li class="progress-list-item completed">
              <p class="progress-list-item-number">1</p>
              <p class="progress-list-item-text">Completed</p>
            </li>
            <li class="progress-list-item active">
              <p class="progress-list-item-number">2</p>
              <p class="progress-list-item-text"> Active</p>
            </li>
            <li class="progress-list-item inactive">
              <p class="progress-list-item-number">3</p>
              <p class="progress-list-item-text">Lorem</p>
            </li>
            <li class="progress-list-item inactive">
              <p class="progress-list-item-number">4</p>
              <p class="progress-list-item-text">Lorem</p>
            </li>
            <li class="progress-list-item inactive">
              <p class="progress-list-item-number">5</p>
              <p class="progress-list-item-text">Lorem</p>
            </li>
          </ul>
        </div>
        <br>
        <div class="row card">
        <div class="col-md-12">
          <h4>HTML:</h4>
<pre><code class="html">&lt;div class="progress"&gt;
    &lt;ul class="progress-list"&gt;
      &lt;li class="progress-list-item complete"&gt;
        &lt;p class="progress-list-item-number"&gt;1&lt;/p&gt;
        &lt;p class="progress-list-item-text"&gt;Completed&lt;/p&gt;
      &lt;/li&gt;
      &lt;li class="progress-list-item active"&gt;
        &lt;p class="progress-list-item-number"&gt;2&lt;/p&gt;
        &lt;p class="progress-list-item-text"&gt; Active&lt;/p&gt;
      &lt;/li&gt;
      &lt;li class="progress-list-item inactive"&gt;
        &lt;p class="progress-list-item-number"&gt;3&lt;/p&gt;
        &lt;p class="progress-list-item-text"&gt;Lorem&lt;/p&gt;
      &lt;/li&gt;
      &lt;li class="progress-list-item inactive"&gt;
        &lt;p class="progress-list-item-number"&gt;4&lt;/p&gt;
        &lt;p class="progress-list-item-text"&gt;Lorem&lt;/p&gt;
      &lt;/li&gt;
      &lt;li class="progress-list-item inactive"&gt;
        &lt;p class="progress-list-item-number"&gt;5&lt;/p&gt;
        &lt;p class="progress-list-item-text"&gt;Lorem&lt;/p&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
</code></pre>
<br>

<h4>JS:</h4>
<pre><code class="javascript">  // Define progress item list
  var progressItemsNL = document.querySelectorAll('.progress-list-item'),
    progressItems = [];

  // Populate array to access array properties (indexOf)
  for (var nlIndex = progressItemsNL.length; nlIndex--; progressItems.unshift(progressItemsNL[nlIndex]));

  console.log(progressItems);
  // Add click event listener to each list item
  for (var counter = 0; counter < progressItems.length; counter++) {
    progressItems[counter].addEventListener('click', function() {
      // Remove active state from all items
      for (var listIterator = 0; listIterator < progressItems.length; listIterator++) {
        progressItems[listIterator].classList.remove('completed');
        progressItems[listIterator].classList.remove('active');
      }

      // Apply active state to current item
      this.classList.add('active');
      for (var i = 0; i < progressItems.indexOf(this); i++) {
        progressItems[i].classList.add('completed');
      }
    });
  }
</code></pre>
</div></div>
      </div>
    </div>
  </div>
  </div>
  <script>
    // Define progress item list
    var progressItemsNL = document.querySelectorAll('.progress-list-item'),
      progressItems = [];

    // Populate array to access array properties (indexOf)
    for (var nlIndex = progressItemsNL.length; nlIndex--; progressItems.unshift(progressItemsNL[nlIndex]));

    console.log(progressItems);
    // Add click event listener to each list item
    for (var counter = 0; counter < progressItems.length; counter++) {
      progressItems[counter].addEventListener('click', function() {
        // Remove active state from all items
        for (var listIterator = 0; listIterator < progressItems.length; listIterator++) {
          progressItems[listIterator].classList.remove('completed');
          progressItems[listIterator].classList.remove('active');
        }

        // Apply active state to current item
        this.classList.add('active');
        for (var i = 0; i < progressItems.indexOf(this); i++) {
          progressItems[i].classList.add('completed');
        }
      });
    }
  </script>

  <!-- spacing content -->
  <br><br><br>

  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

