{{#> header/primary title="Carousel"}} {{/header/primary}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 content">
        <h1>HIG UX KIT : Carousel</h1>
        
        <p>For usage, please refer to <a href="http://getbootstrap.com/docs/3.3/javascript/#carousel">Bootstrap 3 Docs</a>.</p>
      </div>
    </div>
  </div>
  <div id="hig-carousel" class="carousel slide" data-ride="carousel">
    <div class="container">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#hig-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hig-carousel" data-slide-to="1"></li>
        <li data-target="#hig-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="item-inner">
            <section class="text-center">
              <h4>Why Do Business with the hartford?</h4>
              <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
            </section>
          </div>
        </div>

        <div class="item">
          <div class="item-inner">
            <section class="text-center">
              <h4>Why Do Business with the hartford?</h4>
              <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
            </section>
          </div>
        </div>

        <div class="item">
          <div class="item-inner">
            <section class="text-center">
              <h4>Why Do Business with the hartford?</h4>
              <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
            </section>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#hig-carousel" data-slide="prev">
      <i class="icon icon-carousel-left"></i>
    </a>
      <a class="right carousel-control" href="#hig-carousel" data-slide="next">
      <i class="icon icon-carousel-right"></i>
    </a>
    </div>
  </div>

  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

