{{#> header/primary title="Radial Progress Indicator"}}{{/header/primary}}
<div class="container">
    <div class="row">
        <div class="col-md-12 card">
            <h1>HIG UX KIT : Radial Progress Indicator</h1>
            
        </div>
    </div>
    <div class="card">
        <p>
            The radial progress indicator is designed to show how much is left of a section. It will not show a number
            value but a percent filled ring. If the section is complete (value 100) it will show a green check mark.
        </p>
        <p>
            the Attribute data-progress takes an integer from 0 to 100 and determines how filled in the circle is and
            the icon color.
        </p>
        Structure is the following:
        <pre>
&#x3C;div class=&#x22;radial-progress&#x22; data-progress=&#x22;100&#x22;&#x3E;
    &#x3C;div class=&#x22;circle&#x22;&#x3E;
        &#x3C;div class=&#x22;mask full&#x22;&#x3E;
            &#x3C;div class=&#x22;fill&#x22;&#x3E;&#x3C;/div&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;mask half&#x22;&#x3E;
            &#x3C;div class=&#x22;fill&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;div class=&#x22;fill fix&#x22;&#x3E;&#x3C;/div&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;inset&#x22;&#x3E;
        &#x3C;div class=&#x22;percentage&#x22;&#x3E;
            &#x3C;i class=&#x22;icon-check&#x22;&#x3E;&#x3C;/i&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;radial-progress-text&#x22;&#x3E;This is value 100&#x3C;/div&#x3E;
        </pre>
        <h2>Examples:</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="radial-progress" data-progress="100">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                            <i class="icon-check"></i>
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 100</div>
            </div>
            <div class="col-md-6">
                <div class="radial-progress" data-progress="87">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 87</div>
            </div>
            <div class="col-md-6">
                <div class="radial-progress" data-progress="50">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                            50%
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 50</div>
            </div>
            <div class="col-md-6">
                <div class="radial-progress" data-progress="25">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 25</div>
            </div>
            <div class="col-md-6">
                <div class="radial-progress" data-progress="12">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 12</div>
            </div>
            <div class="col-md-6">
                <div class="radial-progress" data-progress="0">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                            <div class="fill fix"></div>
                        </div>
                    </div>
                    <div class="inset">
                        <div class="percentage">
                        </div>
                    </div>
                </div>
                <div class="radial-progress-text">This is value 0</div>
            </div>
        </div>
    </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

