{{#> header/primary title="Security Message"}} {{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Security Message</h1>
        
      </div>
    </div>
    <div class="row card">
      <h2 class="underlined">col-xs-12 / col-sm-6 / col-lg-3:</h2>
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-lg-3 col-xs-offset-2">
          <div class="security-message">
            <div class="security-message-icon">
              <i class="icon icon-secure" aria-hidden="true"></i>
            </div>
            <div class="security-message-content small-copy">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </div>
          </div>
        </div>
      </div>
      <h2 class="underlined">col-xs-6 / col-sm-4 / col-lg-2:</h2>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2 col-xs-offset-2">
          <div class="security-message">
            <div class="security-message-icon">
              <i class="icon icon-secure" aria-hidden="true"></i>
            </div>
            <div class="security-message-content small-copy">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

