{{#> header/primary title="Sidebar | Side-Nav"}}{{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar-left">
          <div class="side-nav">
          	<div>Professional Liability</div>
              <ul class="app-nav">
                  <li><a href="#">General Information</a></li>
                  <li><a href="#">Coverages</a></li>
                  <li class="active"><a href="#">Financials & Operations</a></li>
                  <li><a href="#">Company Information</a></li>
                  <li><a href="#">Cyber</a></li>
                  <li><a href="#">Media Liability</a></li>
                  <li><a href="#">Losses & Prior Knowledge</a></li>
                  <li><a href="#">Endorsements</a></li>
                  <li><a href="#">Premium Summary</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 card top">
        <h1>HIG UX KIT : Sidebar | Side-Nav</h1>
        <p>The side-nav is a custom component to the kit. The <code>sidebar-left</code> or <code>sidebar-right</code> wrapping <code>&lt;div&gt;</code> is optional - it provides a 1em margin, and should be nested inside the bootstrap column used to place the sidebar.</p>
        <p>The use of the anchor tags <code>&lt;a href="#"&gt;</code> are for accessiblity purproses.  If your application will not use the functionality of the anchor tags, you should use something like jQuery <code>preventDefault();</code> for <code>"side-nav a"</code> elements.</p>
        <pre class="pre-scrollable"><code class="html">&lt;div class="col-md-3"&gt;
  &lt;div class="sidebar-left"&gt;
    &lt;div class="side-nav"&gt;
      &lt;div&gt;Professional Liability&lt;/div&gt;
      &lt;ul class="app-nav"&gt;
        &lt;li&gt;&lt;a href="#"&gt;General Information&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Coverages&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Financials & Operations&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Company Information&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Cyber&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Media Liability&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Losses & Prior Knowledge&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Endorsements&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Premium Summary&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>


      </div>
    </div>
  </div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
