{{#> header/primary title="Editable Table"}}{{/header/primary}}

  <div class="container">
    <div class="row card">
      <div class="col-md-12 ">
        <h1>HIG UX KIT : Editable Table</h1>
        
        <p>For usage, please refer to <a href="https://getbootstrap.com/docs/3.3/css/#tables">Bootstrap 3 Docs</a>.</p>
      </div>
    </div>
    {{#> tables/table-editable}}{{/tables/table-editable}}
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

