{{#> header/primary title="Sortable Table"}}{{/header/primary}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{#> tables/table-sortable showcode="true"}}{{/tables/table-sortable}}
    </div>
  </div>
</div>


{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

