{{#> header/primary title="Templates/CIAM: Link Your Business Policy"}}{{/header/primary}}
  <div class="container">
    <div class="row content-xp">
      <div class="col-md-8 col-md-offset-2 card top xp2">
        <form class="form" data-toggle="validator" role="form">
          <h1>Link Your Business Policy</h1>
          <p>Enter your policy number or billing account number and your billing ZIP code. You can find them on your <a href="#">bill</a> and <a href="#">policy</a>.</p>
          {{#> form/input/text
            name="policy"
            label="Policy Number or Billing Account Number"
            placeholder=" "
            required="Please enter a valid Policy number or Billing Account Number"
          }}{{/form/input/text}}
          {{#> form/input/text
            name="zip"
            label="Billing Zip Code"
            placeholder=" "
            required="Please enter a valid ZIP Code"
          }}{{/form/input/text}}
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{{#> footer/thin}} {{/footer/thin}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
