{{#> header/primary title="Terms and Conditions"}} {{/header/primary}}
<div class="container">
 {{#> legal/terms-conditions-modal showcode="true"}}{{/ legal/terms-conditions-modal}}
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

