{{#> header/primary title="Terms and Conditions"}} {{/header/primary}}
<div class="container">
 {{#> legal/terms-conditions-modal}}{{/ legal/terms-conditions-modal}}
 {{#> legal/terms-conditions-standard}}{{/ legal/terms-conditions-standard}}
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

