{{#> header/primary title="Tooltip"}} {{/header/primary}}

  <div class="container card">
    <div class="row">
      <div class="col-md-12">
        <h1>HIG UX KIT : Tooltip</h1>
        
        <p>For usage, please refer to <a href="https://getbootstrap.com/docs/3.3/javascript/#tooltips">Bootstrap 3 Docs</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Tooltip: </h3>
        <button class="btn btn-sm btn-secondary" role="button" data-html="true" data-toggle="tooltip" data-placement="top" title="<h3>Top tooltip</h3><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>">Top tooltip</button>
        <button class="btn btn-sm btn-secondary" role="button" data-html="true" data-toggle="tooltip" data-placement="right" title="<h3>Right tooltip</h3><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>">Right tooltip</button>
        <button class="btn btn-sm btn-secondary" role="button" data-html="true" data-toggle="tooltip" data-placement="bottom" title="<h3>Bottom tooltip</h3><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>">Bottom tooltip</button>
        <button class="btn btn-sm btn-secondary" role="button" data-html="true" data-toggle="tooltip" data-placement="left" title="<h3>Left tooltip</h3><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>">Left tooltip</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <h3>Code: </h3>
        <script src="https://gist.github.thehartford.com/rsoni/1d0c150ca474776345a61c3ed9cd442b.js"></script>
      </div>
    </div>
  </div>

  <!--
<div class="row" style="padding-left: 10vw; padding-top: 10vh; padding-bottom: 50vh;">
    <div class="col-xs-12 col-sm-4">
        <div class="tooltip-container">
            <a class="tooltip-hover">[Inactive] Hover over me!</a>
            <div class="tooltip">
                <div>
                    <div class="tooltip-header">
                        <h3 class="tooltip-header-content">Lorem Ipsum</h3>
                    </div>
                    <div class="tooltip-close">
                        <!-- <i>Icon to be included later, below is a placeholder</i> -->
                        <!--<i class="fa fa-times" area-hidden="true"></i>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="tooltip-body">
                        <p class="tooltip-body-content body-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

