{{#> header/primary title="Typography"}}{{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h1>HIG UX KIT : Typography</h1>
        
        <p>For usage, please refer to <a href="http://getbootstrap.com/docs/3.3/css/#type">Bootstrap 3 Docs</a>.</p>
      </div>
    </div>
    <div class="row card">
      <div class="col-md-7">
        <h1>H1 Generic Header Style</h1>
        <h2 class="underlined">H2 Generic Headers Style <small>underlined</small></h2>
        <p>Body Copy: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cum blanditiis accusamus, consequatur architecto. Saepe perferendis laborum, aperiam, error consectetur, eaque deserunt nostrum amet tempora inventore id dolores. Quaerat, sed.</p>
        <h3>H3 Generic Header Style</h3>
        <p>Body Copy: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eos commodi odit facere obcaecati non soluta esse sint! Commodi sunt, asperiores mollitia reiciendis placeat quia minus consectetur optio consequuntur iusto.</p>
        <p><a href="#">Default Link Style</a></p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h1>Sample Header H1</h1>
        <h2>Sample Header H2</h2>
        <h2 class="underlined">Sample Header H2</h2>
        <h3>Sample Header H3</h3>
        <h4>Sample Header H4</h4>
        <h5>Sample Header H5</h5>
        <p class="lead">Lead Body Copy</p>
        <p>Sample Paragraph Body Copy Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quod, corporis ab,
            veniam velit fugiat perferendis odit magnam architecto excepturi incidunt, quaerat non rerum. Pariatur
            culpa facilis sit nobis suscipit.</p>
      </div>
      <div class="col-md-12">
          <h1 class="green">Sample Header H1</h1>
          <h2 class="green">Sample Header H2</h2>
          <h2 class="green underlined">Sample Header H2</h2>
          <h3 class="green">Sample Header H3</h3>
          <h4 class="green">Sample Header H4</h4>
          <h5 class="green">Sample Header H5</h5>
          <p class="lead">Lead Body Copy</p>
          <p>Sample Paragraph Body Copy Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quod, corporis ab,
              veniam velit fugiat perferendis odit magnam architecto excepturi incidunt, quaerat non rerum. Pariatur
              culpa facilis sit nobis suscipit.</p>
      </div>

    </div>
  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

