{{#> header/primary title="Document Upload"}} {{/header/primary}}
<div class="container card">
  <div class="row">
    <div class="col-xs-12">
      <h1>HIG UX KIT : Document Upload</h1>
      <p>
        <b>Note the following: </b><br/>
        <ul>
          <li>For drag &amp; drop upload, Dropzone plugin is used for demonstration purposes.</li>
          <li><b>NPM Package: </b><a href="https://www.npmjs.com/package/dropzone" target="_blank">Dropzone</a> <br/></li>
          <li>For more information on this please refer to <a href="http://www.dropzonejs.com/" target="_blank">Dropzone page</a>.</li>
        </ul>
      </p>
    </div>
    <div class="col-xs-12">
      <h4>Following would be an image that would demonstrate the document pattern flow:</h4>
      <img src="images/animation-samples/upload-pattern.jpg" alt="upload-pattern" class="img-responsive" />
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-xs-12">
      <h4>Following be would demonstrate the document pattern using Dropzone:</h4>

      <form action="/file-upload" class="dropzone" id="dz-upload"></form>
    </div>
  </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>
