{{#> header/primary title="For Vendors"}}{{/header/primary}}
  <div class="container">
    <div class="row card top">
      <div class="col-md-12">
        <h1>HIG UX KIT : For Vendors</h1>
        <p>We have supplied CDN links for vendors to use the UXKIT in their application.</p>
      </div>
    </div>
    <div class="row card top">
      <h2 class="underlined">QA (Non-Prod)</h2>
      <h3>CSS</h3>
      <pre><code>&lt;link href="https://ts0.hfdstatic.com/sites/higux/3.2.9/css/screen.min.css" rel="stylesheet"&gt;</code></pre>
      <h3>JavaScript</h3>
      <pre><code>&lt;script type="text/javascript" src="https://ts0.hfdstatic.com/sites/higux/3.2.9/js/app.min.js"&gt;&lt;/script&gt;</code></pre>
      <h3>Logo</h3>
      <p>Note: this SVG should be "wrapped" in a block element with a white <code>#ffffff</code> background, and appropriate padding.</p>
      <pre><code>&lt;img src="https://ts0.hfdstatic.com/sites/higux/3.2.9/images/logo.svg" alt="The Hartford"&gt;</code></pre>
    </div>
    <div class="row card top">

      <h2 class="underlined">Prod</h2>
      <h3>CSS</h3>
      <pre><code>&lt;link href="https://s0.hfdstatic.com/sites/higux/3.2.9/css/screen.min.css" rel="stylesheet"&gt;</code></pre>
      <h3>JavaScript</h3>
      <pre><code>&lt;script type="text/javascript" src="https://s0.hfdstatic.com/sites/higux/3.2.9/js/app.min.js"&gt;&lt;/script&gt;</code></pre>
      <h3>Logo</h3>
      <p>Note: this SVG should be "wrapped" in a block element with a white <code>#ffffff</code> background, and appropriate padding.</p>
      <pre><code>&lt;img src="https://s0.hfdstatic.com/sites/higux/3.2.9/images/logo.svg" alt="The Hartford"&gt;</code></pre>
    </div>

  </div>
  
{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

