{{#> header/primary title="Video"}} {{/header/primary}}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1>HIG UX KIT : Video</h1>
      
      <p>For usage, please refer to <a href="http://getbootstrap.com/docs/3.3/javascript/#modals">Bootstrap 3 Docs</a>. We use all standard bootstrap modal classes</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 card">
      <div class="video">
        <a class="hig-modal" href="#" id="1444622662529" data-video-title="This is a video">
          <img width="100%" src="http://via.placeholder.com/350x200" alt="play video">
          <div class="video-overlay">
            <div class="video-play-wrapper" data-toggle="modal" data-target="#modalWindow1">
              <div class="video-play-button-wrapper">
                <div class="video-play-button">
                  <i class="fa fa-play"></i>
                </div>
              </div>
              <div class="video-play-text">PLAY VIDEO</div>
            </div>
          </div>
        </a>
      </div>
      <div class="modal fade" id="modalWindow1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content card offset">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="icon icon-close"></i></button>
              <div class="modal-title">Modal Header</div>
            </div>
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/GTS7-cmcGTs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card">
      <div class="video">
        <a class="hig-modal" href="#" id="1444622662529" data-video-title="This is a video">
          <img width="100%" src="http://via.placeholder.com/350x200" alt="play video">
          <div class="video-overlay">
            <div class="video-play-wrapper" data-toggle="modal" data-target="#modalWindow2">
              <div class="video-play-button-wrapper">
                <div class="video-play-button">
                  <i class="fa fa-play"></i>
                </div>
              </div>
              <div class="video-play-text">PLAY VIDEO</div>
            </div>
          </div>
        </a>
      </div>
      <div class="modal fade" id="modalWindow2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content card offset">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="icon icon-close"></i></button>
              <div class="modal-title">Modal Header</div>
            </div>
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/GTS7-cmcGTs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card">
      <div class="video">
        <a class="hig-modal" href="#" id="1444622662529" data-video-title="This is a video">
          <img width="100%" src="http://via.placeholder.com/350x200" alt="play video">
          <div class="video-overlay">
            <div class="video-play-wrapper" data-toggle="modal" data-target="#modalWindow3">
              <div class="video-play-button-wrapper">
                <div class="video-play-button">
                  <i class="fa fa-play"></i>
                </div>
              </div>
              <div class="video-play-text">PLAY VIDEO</div>
            </div>
          </div>
        </a>
      </div>
      <div class="modal fade" id="modalWindow3" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content card offset">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="icon icon-close"></i></button>
              <div class="modal-title">Modal Header</div>
            </div>
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/GTS7-cmcGTs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

