{{#> header/primary title="Panels (Containers)"}} {{/header/primary}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 card">
        <h3>HIG UX KIT : Panels (Widget and Child Containers) </h3>
        
        <p>For usage, please refer to <a href="https://getbootstrap.com/docs/3.3/components/#panels">Bootstrap 3 Docs</a>. We use all standard bootstrap panel classes</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 card">
        <h2 class="underlined">Panel Primary</h2>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Parent Subject Header</h3>
          </div>
          <div class="panel-body">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 card">
        <h2 class="underlined">Panel default</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Parent Subject Header</h3>
          </div>
          <div class="panel-body">
            <div class="panel-default-subject">
              <h3>Subject one</h3>
            </div>
            <div class="panel-default-subject">
              <h3>Subject two</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{{#> footer/primary}} {{/footer/primary}}
{{#> footer/scripts}} {{/footer/scripts}}
</body>
</html>

