<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{#if title}}HIG UX KIT : {{title}}{{else}}HIG UX KIT{{/if}}</title>
  <!-- build:remove -->
  <link rel="shortcut icon" href="images/favicon.ico" />
  <!-- endbuild -->
  <!-- build:css css/screen.min.css -->
  <link href="css/screen.css" rel="stylesheet">
  <link href="css/demo.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link href="/node_modules/highlightjs/styles/github-gist.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon icon-menu"></i>
        </button>
        <a class="navbar-brand" href="index.html"><img alt="The Hartford" src="images/logo.svg"></a>
      </div>
    </div>
  </div>
  <header class="navbar navbar-default collapse navbar-collapse" id="navBar">
    <div class="navbar-primary" id="primaryNav">
      <div class="container">
        <div class="row">
          <ul class="nav navbar-nav navbar-left">
            <button type="button" class="navbar-toggle-close collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <i class="icon icon-close"></i>
            </button>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employer/Sponsor View <i class="icon icon-users"></i> <i class="icon icon-double-caret"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">First Link Employer View</a></li>
                <li><a href="#">Second Link Sponsor View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-icons navbar-right">
            <li>
              <a href="#"><i class="icon icon-notifications"><span class="badge">24</span></i><span>Alerts</span></a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="#"><i class="icon icon-questions"></i><span>Help</span></a>
            </li>
            <li class="dropdown hidden-sm hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon icon-my-account"><span class="sr-only">My Account</span></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">User Login</a></li>
                <li><a href="#">Account Information</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-secondary" id="secondaryNav">
      <div class="container">
        <div class="row">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon icon-dashboard"></i><span>Dashboard</span></a>
              <div class="dropdown-menu">
                {{#> nav-megamenu}} {{/nav-megamenu}}
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon icon-document"></i><span>Claims (3)</span></a>
              <div class="dropdown-menu">
                {{#> nav-megamenu}} {{/nav-megamenu}}
              </div>
            </li>
            <li>
              <a href="#"><i class="icon icon-benefits"></i><span>Benefits</span></a>
            </li>
            <li>
              <a href="#"><i class="icon icon-folder"></i><span>Documents</span></a>
            </li>
            <li>
              <a href="#"><i class="icon icon-billing"></i><span>Billing</span></a>
            </li>
            <li class="visible-xs visible-sm">
              <a href="#"><i class="icon icon-my-account"></i><span>My Profile</span></a>
            </li>
            <li class="visible-xs visible-sm">
              <a href="#"><i class="icon icon-questions"></i><span>Help</span></a>
            </li>
          </ul>
          <div class="mobile-logout">
            <a href="#"><button class="btn btn-secondary-paired btn-block">Logout</button></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{#> breadcrumbs}} {{/breadcrumbs}}
