//@import "~hig-ui-kit/app/scss/partials/accordion";
@import "variables"; //Assumed structure
/*
<div class="panel" >
<div class="panel-heading" [ngClass]="{'panel-heading-closed':!policyInfoToggle, 'panel-heading-opened':policyInfoToggle}"
(click)="policyInfoToggle = !policyInfoToggle">
<h3 class="panel-title">Panel title
<i class="fa pull-right" [ngClass]="{'fa-minus': policyInfoToggle,'fa-plus': !policyInfoToggle}"></i>
</h3>
</div>
<div class="panel-body collapse sub-panel" [ngClass]="{'in': policyInfoToggle}">Panel content<div class="panel">
<div class="panel-heading panel-heading-closed">
<h3 class="panel-title">Sub Panel title</h3>
</div>
<div class="panel-body collapse">Sub Panel content</div>
</div>
<div class="panel">
<div class="panel-heading panel-heading-opened">
<h3 class="panel-title">Sub Panel title</h3>
</div>
<div class="panel-body collapse in">Sub Panel content</div>
</div>
</div>
</div>
*/
.panel-group > .panel {
  margin-bottom: 0.5em;
}

.panel {
  margin-bottom: 1em;
  border: none;
  box-shadow: none;
  clear: both;
  /* accordion collpase styles - start */
  a:active,
  a:focus,
  a:hover {
    text-decoration: none;
  }

  .accordion-toggle {
    &:hover {
      color: $blue;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    .panel-heading {
      color: $white;
      background-color: $blue;
      padding-left: 2em;
      padding-right: 2em;

      &:hover {
        background: $blue-active;
        color: $white;

        .panel-title .panel-title-text {
          text-decoration: underline;
        }
      }

      .panel-title {
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }

        .panel-title-text {
          display: inline;
        }

        .icon.icon-caret-down {
          transform: rotate(180deg);
          transition: 0.5s ease all;
        }
      }
    }
  }

  &-primary {
    background-color: transparent;
    .panel-body {
      border: 0;
      .panel-default-subject {
        background-color: $white;
      }
    }
  }

  .accordion-toggle.collapsed {
    .panel-heading {
      cursor: pointer;
      border: none;
      //padding-left: 1.25em;
      color: $blue;
      background-color: $gray-lighter;

      &:hover {
        background: $gray-hover;
      }

      .panel-title {
        .panel-title-text {
          text-decoration: none;
        }
        .icon.icon-caret-down {
          transform: rotate(0deg);
          transition: 0.5s ease all;
        }
      }
    }
  }
  /* accordion collpase styles - end */
  &-heading {
    border: none;
    color: $white;
    padding-left: 2em;
    padding-right: 2em;
    background-color: $blue;

    &-closed {
      color: $blue;
      background-color: $gray-lighter;
    }
  }

  &-title {
    font-size: em(20);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &-action {
    @extend .pull-right;

    a {
      color: $white;
    }
  }

  &-body {
    padding: 0;

    .panel-content {
      padding: 2em;
    }
  }
}

.sub-panel {
  margin-bottom: 0.5em;

  &.panel-body {
    //parent body
    padding: 0;
  }

  .panel-body {
    //deeper body
    border-bottom: $gray-lighter 1px solid;
  }

  .panel {
    margin-bottom: 0.5em;

    &-heading {
      border-top: $gray-lighter 6px solid;
      border-left: $gray-lighter 1px solid;
      border-right: $gray-lighter 1px solid;
      border-bottom: $gray-lighter 1px solid;
      color: $blue;
      cursor: pointer;
      background-color: $white;

      &:hover {
        text-decoration: underline;
      }

      &-open {
        border-bottom: transparent 1px solid;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1em;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    &-collapse {
      .panel-body {
        border-bottom: 0;
      }
    }
    /* accordion collpase for opening/closing styles - start */
    .accordion-toggle {
      .panel-heading {
        color: $blue;
        cursor: pointer;
        background-color: $white;
        border-bottom: 0;

        .panel-title {
          .icon.icon-caret-down {
            transform: rotate(180deg);
            transition: 0.5s ease all;
          }
        }
      }
    }

    .accordion-toggle.collapsed {
      .panel-heading {
        border-top: $gray-lighter 6px solid;
        border-bottom: $gray-lighter 1px solid;
        color: $blue;
        cursor: pointer;
        background-color: $white;

        .panel-title {
          .icon.icon-caret-down {
            transform: rotate(0deg);
            transition: 0.5s ease all;
          }
        }
      }
    }
    /* accordion collpase for opening/closing styles - end */
  }
}
/* panel-default-subject */
.panel-default-subject {
  margin-top: 10px;
  border: 1px solid $gray-lighter;
  border-top: 7px solid $gray-light;

  > div:first-child {
    padding: 2em;
  }
}
/* panel-default-subject */
//sub-panel-default - start

.sub-panel.sub-panel-default {
  margin-bottom: 0;

  &:first-child > .panel > .accordion-toggle > .panel-heading {
    border-top: 1px solid $gray-lighter;
  }

  &:last-child > .panel > .accordion-toggle > .panel-heading {
    border-bottom: 0;
  }

  .panel {
    margin-bottom: 0;

    .accordion-toggle.collapsed {
      .panel-heading {
        background-color: $white;

        &:hover {
          text-decoration: none;
        }

        .panel-title {
          span {
            @media (min-width: $screen-sm-min) {
              &:after {
                content: 'Show More';
              }
            }
          }
        }
      }
    }

    .accordion-toggle {
      &:hover {
        text-decoration: none;
      }

      .panel-heading {
        &:hover {
          text-decoration: none;
        }
        border-top: 0 solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
        border-left: 0;
        border-right: 0;
        background-color: $gray-lighter;
        padding: 1.143em 2em;

        i {
          background-color: transparent;
          font-size: 2em;
          padding-left: 0;
        }

        .panel-title {
          font-size: 1.143em;
          font-weight: 500;
          margin-left: 0;

          &:hover {
            text-decoration: underline;
          }

          span {
            background-color: transparent;
            color: $blue;
            padding: 0;
            top: 0.5em;
            font-size: 1.143em;
            font-weight: 500;

            &:hover {
              border: 0;
            }
            @media (min-width: $screen-sm-min) {
              &:after {
                content: 'Show Less';
              }
            }
          }
        }
      }
    }

    .panel-body {
      padding: 2em;
    }
  }
}
//sub-panel-default - end
//sub-panel-primary - start

.sub-panel-primary {
  margin-bottom: 0;

  &:first-child > .panel > .accordion-toggle > .panel-heading {
    border-top: 1px solid $gray-lighter;
  }

  &:nth-child(n+2) > .panel > .accordion-toggle.collapsed > .panel-heading {
    border-top: 1px solid $gray-lighter;
  }

  &:nth-child(n+2) > .panel > .accordion-toggle > .panel-heading {
    border-top: 0;
  }

  .panel {
    margin-bottom: 0;

    .accordion-toggle.collapsed {
      .panel-heading {
        border-bottom: 0;

        .panel-title {
          font-size: 1.143em;
          font-weight: 500;

          span {
            .icon.icon-caret-down {
              transform: rotate(0deg);
              transition: 0.5s ease all;
            }
            @media (min-width: $screen-sm-min) {
              &:after {
                content: 'Show More';
              }
            }
          }
        }
      }
    }

    .accordion-toggle {
      &:hover {
        text-decoration: none;
      }

      .panel-heading {
        padding: 1.143em 2em;
        border-left: 0;
        border-right: 0;
        background-color: $gray-lighter;

        &:hover {
          text-decoration: none;
          background: $gray-hover;
          color: $blue;
        }

        .panel-title {
          font-size: 1.143em;
          font-weight: 500;
          margin: 0;

          &:hover {
            text-decoration: none;
          }

          i:before {
            font-size: 2em;
            vertical-align: middle;
            padding-right: 0.34em;
          }

          span {
            top: 0.5em;
            position: relative;

            .icon.icon-caret-down {
              transform: rotate(180deg);
              transition: 0.5s ease all;
              display: inline-block;
              margin-right: 0.383em;

              &:before {
                font-size: 1em;
                padding: 0;
              }
            }
            @media (min-width: $screen-sm-min) {
              &:before {
                margin-right: 0.383em;
                vertical-align: middle;
              }

              &:after {
                content: 'Show Less';
              }
            }
          }
        }
      }
    }

    .panel-body {
      padding: 2em;
      border: 0;
    }
  }
}
//sub-panel-primary - end

.panel.panel-with-icon {
  .sub-panel.sub-panel-default .panel .accordion-toggle .panel-heading i {
    background-color: $white;
  }

  .sub-panel.sub-panel-default:last-child .panel .panel-collapse .panel-body {
    border-bottom: 0;
  }

  a.accordion-toggle.collapsed {
    text-decoration: none;

    div.panel-heading {
      padding-left: 0;
      background-color: $gray-lighter;

      &:hover {
        background: $gray-hover;

        i.icon-car-secondary-option.fa-3x:before {
          color: $blue;
        }
      }

      i.icon.icon-car-secondary-option {
        background-color: $gray-light;

        &:before {
          vertical-align: middle;
        }
      }
      .panel-title {
        text-decoration: none;
      }
      h3.panel-title {
        span {
          background-color: $blue;
          color: $white;
          top: -0.5em;
          position: relative;

          .icon.icon-caret-down {
            transform: rotate(0deg);
            transition: 0.5s ease all;
          }

          .icon.icon-caret-down {
            transform: rotate(0deg);
            transition: 0.5s ease all;
          }
        }
        @media (min-width: $screen-sm-min) {
          span {
            padding: 0.5em 2em;
            top: 0.2em;

            &:after {
              content: 'Show More';
            }
          }
        }
      }
    }
  }

  a.accordion-toggle {
    div.panel-heading {
      padding: 9px 0;
      background-color: $blue-active;
      @media (min-width: $screen-sm-min) {
        padding-right: 2em;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &:hover {
        background: $blue-active;

        .panel-title {
          text-decoration: underline;
        }

        i.icon-car-secondary-option.fa-3x:before {
          color: $white;
        }
      }

      i.icon.icon-car-secondary-option {
        display: inline;
        vertical-align: middle;
        background-color: $blue;
        padding: 0.34em 0.46em;
        font-size: 2.188em;
        @media (min-width: $screen-sm-min) {
          font-size: 2.625em;
        }

        &:before {
          vertical-align: middle;
        }
      }

      h3.panel-title {
        display: inline;
        font-size: 1em;
        margin-left: 1em;
        @media (min-width: $screen-sm-min) {
          font-size: 1.25em;
        }

        span {
          background-color: $blue;
          color: $white;
          padding: 1.5em;
          top: -0.5em;
          position: relative;
          @media (min-width: $screen-sm-min) {
            padding: 1.4em 1.2em;
          }

          .icon.icon-caret-down {
            transform: rotate(180deg);
            transition: 0.5s ease all;
            display: inline-block;
            vertical-align: middle;

            &:before {
              font-size: 1em;
              padding: 0;
              vertical-align: middle;
            }
          }

          /*&:hover {
            background-color: $gray-hover;
            color: $blue;
            border: 1px solid $blue;
          }*/

          .icon.icon-caret-down {
            transform: rotate(180deg);
            transition: 0.5s ease all;
          }
        }
        @media (min-width: $screen-sm-min) {
          padding-right: 2em;

          &:hover {
            text-decoration: underline;
          }

          span {
            padding: 0.5em 2em;
            top: 0.2em;
            font-size: 1.125em;

            &:after {
              content: 'Show Less';
              font-size: 0.75em;
            }
          }
        }
      }
    }
  }

  .panel-collapse {
    .panel-body {
      border-bottom: 1px solid $gray-lighter;

      .panel-default-subject {
        .panel {
          .accordion-toggle {
            .panel-heading {
              i {
                background-color: transparent;
                padding-left: 0;
              }

              .panel-title {
                margin-left: 0;

                span {
                  background-color: transparent;
                  color: $blue;
                  padding: 0;
                  top: 0.8em;

                  &:before {
                    margin-right: 0.383em;
                  }
                }
              }
            }
          }
        }

        .panel-group {
          margin-bottom: 0;

          .sub-panel.sub-panel-default {
            .panel {
              .accordion-toggle {
                .panel-heading {
                  background-color: $gray-lighter;
                  padding: 0.393em 2em;

                  &:hover {
                    background-color: $gray-background;
                  }

                  .panel-title {
                    span {
                      .icon.icon-caret-down {
                        font-size: 1em;
                        margin-right: 0.383em;
                      }

                      &:after {
                        font-size: 0.9em;
                      }
                    }
                  }
                }
              }

              .accordion-toggle.collapsed {
                .panel-heading {
                  background-color: $white;

                  &:hover {
                    background-color: $gray-background;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
