@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_buttons';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss';
$font-family-base: "HCo Gotham SSm", arial, sans-serif;
// Base button styles
.btn {
  border: none;
  border-radius: 0;
  color: $white;
  font-family: $font-family-title;
  font-style: normal;
  padding: 0.75em 1em;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  @include btn-pressed-shadow();

  .icon {
    margin-right: 0.625em;
  }

  &-default {
    background-color: $gray-background;
    border: 1px solid $gray-light;
    color: $gray;
    font-family: $font-family-title;
    font-style: normal;

    &:hover {
      background-color: $gray-lighter;
    }
  }
  // Large button styles
  &-lg {
    font-size: 1.125em;
    line-height: 1.143em;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    .icon {
      margin-right: 0.556em;
    }
  }

  &-sm {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    .icon {
      margin-right: 0.714em;
    }
  }

  &-xs {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  // Priamry button styles
  &-primary {
    @include btn-colors($green, $green-active, $gray-lighter, $white, $gray-medium);
  }
  // Quick View button styles
  &-quickView {
    font-size: 0.857em;
    @include btn-colors($gray-light, $gray-light, $gray-light, $blue);
  }
  // Secondary button styles
  &-secondary {
    @include btn-colors($blue, $blue-active, $gray-lighter, $white, $gray-medium);
  }
  // Tertiary button styles
  &-secondary-paired {
    border: 1px solid $gray-light;
    font-weight: 500;


    &.disabled,
    &[disabled],
    fieldset[disabled] {
      border: 1px solid $gray-lighter;
    }
    @include btn-colors($white, $blue-active, $white, $blue-link, $gray-medium);
  }
  &-showmore {
    &:before {
      font-family: "higux";
      content: "\e03f";
      display: inline-block;
      margin-right: 0.556em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }
    &.active {
      box-shadow: none;
      background-color: $blue;

      &:before {
        content: "\e040";
      }
      &.btn-secondary-paired {
        color: $white;
        &:focus {
          background-color: $blue;
        }
        &:hover  {
          background-color: $blue-active;
        }
      }
    }
  }

  &-link {
    color: $blue-link;
    font-weight: 500;
  }
}
// Tablet/Desktop Button Style Adjustments
@media (min-width: 768px) {
  .btn {
    &-lg {
      min-width: mwp(15, 2);
    }

    &-primary {
      min-width: mwp(15, 1.429);
    }
  }
}
