.content {
  &-description {
    font-size: 0.8em;
  }

  &-message {
    .buttons {
      margin: 0 auto;

      .btn {
        width: 40%;

        &:first-of-type {
          width: 35%;
          margin-right: 3%;
        }
      }
    }
  }

  &-alert,
  &-message {
    display: block;
    text-align: center;
    width: 95%;
    padding: 2.5%;

    i.icon {
      font-size: 5em;

      &.information {
        color: $blue;
      }

      &.success {
        color: $green;
      }

      &.warning {
        color: $yellow-warning;
      }

      &.alert {
        color: $red-error;
      }
    }

    .btn {
      font-size: 0.75em;
      width: 55%;
    }
  }
}
