.faq-list {
  li {
    list-style: none;
    margin-bottom: 0.5em;
    max-width: 467px;

    .collapsed-link {
      color: $blue-link; //active color
      display: block;
      text-decoration: none;

      &:hover {
        color: $blue-hover; //hover color

        &:before {
          color: $blue-hover; //hover color
        }
      }

      &:before {
        color: $blue-link; // active color
        content: "\e047";
        font-family: 'higux';
        left: -4px;
        margin-left: -19px;
        margin-top: 4px;
        position: relative;
        top: 2px;
      }

      &.collapsed {
        color: $blue; // default color

        &:hover {
          color: $blue-hover; //hover colors
          
          &:before {
            color: $blue-hover; //hover color
          }
        }
        &:before {
          color: $blue; // default color
          content: "\e044";
        }
      }
    }
    .collapse-text {
      margin-top: 0.5em;
    }
  }
}
