@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"; //footer SCSS

.footer {
  background-color: $gray;
  position: relative;


  &-thin {
    padding: 2em 0;
    font-weight: 400;
    font-size: $font-size-small;
    text-align: left;
    @media #{$gt-tablet} {
      text-align: center;
    }
    .links {

      a {
        color: $white;
        font-weight: 400;
      }
      li {

        //@media #{$gt-mobile} {

          border-right: 1px solid $gray-medium;
          padding: 0 1em;
          &:last-of-type {
            border-right: 0;
          }
        //}
      }
    }
    .copyright {
      display: block;
      //text-align: center;
      padding: 0 1em;
      color: $white;
    }
    .norton {
      width: 120px;
      height: auto;
      display: block;
      margin: 0;
      float:left;

      @media #{$gt-tablet} {
        float: right;
        margin: 0;
      }

    }
  }

  &-primary {
    background-color: $gray;
    padding: 2em 0 2.5em;
    position: relative;

    .icon {
      font-size: 1.125em;

      &.padding-right {

        &::before {
          padding-right: 1rem;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }

    @media #{$gt-mobile} {
      margin: 0 auto;
      padding: 3em 0 2em;
    }

    .faqs {
      font-size: 1.2em;
      margin-left: 1em;
      position: absolute;

      @media #{$gt-mobile} {
        margin-left: auto;
      }
    }

    div {
      > p {
        font-weight: 500;

        @media #{$gt-tablet} {
          padding: 0.5em 0;
        }
      }

      &:first-of-type {
        > p {
          &:nth-of-type(n+4) {
            border: 0;
          }
        }
      }
    }

    .content {
      &-row {
        .content {
          &-contact {
            margin-top: 3em;

            @media #{$gt-mobile} {
              margin-top: 0;
            }

            > p {
              border-bottom: 1px solid $gray-medium;
              padding-bottom: 0.714em;
              padding-left: 1em;
              padding-right: 0;
              padding-top: 0.714em;

              &:first-of-type {
                padding-left: 0;
              }

              &:last-of-type {
                margin-bottom: 2em;
              }
            }

            @media #{$gt-mobile} {
              border-left: 1px solid $gray-medium;
              float: right;
            }
          }

          &-norton {
            margin: 0 0 2em;

            @media #{$gt-mobile} {
              margin: 3em 0 2em;
            }

            @media #{$gt-tablet} {
              float: right;
              margin: 0;
              text-align: center;
            }

            img {
              padding-bottom: 0.5em;
              width: 120px;

              + p {
                color: $white;
                font-size: 0.714em;
                font-weight: 400;
                margin-bottom: 2em;

                @media #{$gt-mobile} {
                  margin-bottom: 2em;
                }
              }
            }
          }

          &-connect {
            font-size: 0.875em;
            font-weight: 400;

            ul {
              list-style: none;
              padding: 1.5em 0 1em;

              li {
                display: inline-block;
                padding: 0;


                a {
                  color: $white;
                  font-weight: 400;

                  &:hover {
                    text-decoration: none;
                  }
                }

                &:first-of-type a,
                &:nth-of-type(2) a {
                  border-right: 1px solid $white;
                  padding-right: 0.714em;
                }

                &:last-of-type a,
                &:nth-of-type(2) {
                  padding-left: 0.714em;
                }
              }
            }

            .copyright {
              font-weight: 400;
              padding-top: 0;
            }

            .icons {
              display: flex;
              flex-direction: row;
              margin: 0 auto;
              text-align: center;

              @media #{$gt-tablet} {
                margin-left: 0;
                margin-top: 6em;
                padding-bottom: 4em;
                text-align: left;
                width: 75%;
              }

              div {
                flex: 1;

                > a {
                  border: 2px solid $blue-light;
                  color: $blue-light;
                  display: block;
                  font-size: 1.429em;
                  padding: 0.5em 0;
                  text-align: center;
                  width: 2.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
