.glyphicon {
  font-family: "higux" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.glyphicon-ok {
    display: inline-block;
    border: 1px solid black;
    padding: 2px;
    &:before {
      content: "\e048";
    }
  }
  &.check-mark {

  }
}
