.intro {
  // background-color:$white;
  &-body {
    border-bottom-color: #BCB1B1;
    border-bottom-style: solid;
    border-width: thin;
    padding-bottom: 10px;
  }

  &-row-title {
    padding-top: 15px;
    margin-bottom: 5px;
    text-align:center;
  }

  .row.vdivide [class*='col-']:not(:last-child):after {
    background: #817E7E;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 20px;
  }
  
  .section-left {
    text-align: center;
    padding-right: 2px;
    padding-left: 0;
  }
  
  .section-right{
    padding-right: 0;
    padding-left: 2px;
    text-align: center;
  }

  &-active.button {
    padding-left: 0px;
    padding-right:0px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 45%;
      margin-left: -1.5em;
      border-left: 2em solid transparent;
      border-right: 2em solid transparent;
    }

    &:after {
      top: 107%;
      border-bottom: 0.714em solid #F7F7F7;
    }

    &:before {
      top: 106%;
      border-bottom: 0.714em solid #CCCCCC;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    padding: 1em;
    padding-bottom:0;
    &-body {
      border-right-color: #BCB1B1;
      border-right-style: solid;
      border-width: thin;
      border-bottom-style: none;
      padding: 0;
      padding-right:2em;
      height: 110px;
    }
    &-row {
      padding-right: 1em;
      padding-left:1em;
    }
    &-row-title {
      padding-top: 0;
      text-align: left;
      padding-left: 1em;
    }

    section {
      text-align: center;
    }
  }

  .message {
    padding: 1em;
  }
}