@mixin list-element($icon: '\e043', $color: $blue, $leading: 2em, $icon-size: 1.2em) {
  display: block;
  font-size: 1em;
  list-style: none;
  margin: auto auto 0.357em 1em;
  padding: 0.15em 0 0 $leading;
  position: relative;

  @media (min-width: 786px) {
    padding: 0 0 0 $leading;
  }
  &:before {
    display: inline-block;
    color: $color;
    content: '#{$icon}';
    font-family: "higux";
    font-size: $icon-size;
    left: 0;
    position: absolute;
    top: 0;
  }
  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}
.list-group {
  &.benefit {
    > li {
      @include list-element(#{'\e00a'}, $green);
    }
  }

  &.standard {
    > li {
      @include list-element('\e043', $blue, 1.714em, 1em);

      &:before {
        margin-top: 0.15em;
        @media (min-width: 768px) {
          font-size: 1.2em;
          margin-top: auto;
        }
      }
      > ul {
        padding-left: 0;

        > li {
          @include list-element('\25CB', $blue, 1.614em, 1em);
          margin-left: 0;
          padding-top: 0.2em;

          @media (min-width: 768px) {
            padding-top: 0.15em;

            &:before {font-size: 1.2em;}
            font-size: inherit;
          }


          ul {
            padding-left: 0;

            > li {
              @include list-element('\25A0', $blue, 1.514em, 1em);
              margin-left: 0;
              padding-top: 0.3em;

              @media (min-width: 768px) {
                padding-top: 0.3em;

                &:before {font-size: 1.2em;}
                font-size: inherit;
              }
            }
          }
        }
      }
    }
    //ordered list
    &-order {
      > li {
        font-size: 1em;
        margin: auto auto 0.357em 2.5em;
        padding-left: 0.23em;

        @media (min-width: $screen-sm-min) {
          font-size: 1.2em;
        }
      }
    }
  }
}
