@mixin message-border() {
  background-color: $white;
  border-bottom: 10px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  font-size: 0.875em;
  margin-top: 1em;
  padding: 1.25em 1.25em 0;
}

.alert-messages {
  .message {
    &-info {
      @include message-border();
      border-color: $blue;

      .message-header {
        color: $blue;
        margin-bottom: 0.5em;
      }
    }

    &-success {
      @include message-border();
      border-color: $green;

      .message-header {
        color: $green;
        margin-bottom: 0.5em;
      }
    }

    &-warning {
      @include message-border();
      border-color: $yellow-warning;

      .message-header {
        color: $yellow-warning;
        margin-bottom: 0.5em;
      }
    }

    &-danger {
      @include message-border();
      border-color: $red-error;

      .message-header {
        color: $red-error;
        margin-bottom: 0.5em;
      }
    }

    &-header {
      &-text {
        font-size: 1.1111em;
        padding-left: 0.25em;
        vertical-align: top;
      }

      &-icon {
        font-size: 1.3333em;
      }
    }
  }

  .collapse-message {
    p {
      &.collapse[aria-expanded=false] {
        display: block;
        height: 4.58em !important;
        overflow: hidden;
      }

      &.collapsing[aria-expanded=false] {
        height: 4.58em !important;
      }
    }

    .expand-box {
      .btn {
        border: 0;
        color: $blue-link;
        font-size: 1em;
        padding: 0;
        text-decoration: none;
        margin-bottom: 0.714em;
      }

      span {
        margin-right: 0.5em;
      }

      button {
        &.collapsed::after {
          content: "VIEW ALL CONTENT";
        }

        &:not(.collapsed)::after {
          content: "COLLAPSE CONTENT";
        }

        &[aria-expanded=true] .fa-chevron-down {
          display: none;
        }

        &[aria-expanded=false] .fa-chevron-up {
          display: none;
        }
      }
    }
    &.optional {
      h4 {
        display: inline-block;
        float: left;
        margin-right: 1em;
      }
      .collapse {
        
      }

    }
  }
}

.alert-messages-optional {
  .message {
    &-info, &-success, &-warning, &-danger {
        display: flex;
      p {
        padding-left: 1em;
      }
    }
  }
}
