.modal {
  &.fade {
    .modal-dialog {
      opacity: 0;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: scale(0.2);
    }

    &.in {
      background: rgba(58,90,120,0.85);
      display: flex !important;

      .modal-dialog {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .modal-dialog {
    margin-bottom: auto;
    margin-top: auto;

    .modal-content {
      border-radius: 0;
      border-top: 6px solid $blue-light;
      border-left: 0;
      border-right: 0;
      padding: 1.429em;

      .modal-header {
        border-bottom: 0;
        color: $blue;
        padding-top: 0;

        .modal-title {
          font-size: 1.5em;
          font-weight: 500;
        }

        button.close {
          opacity: 1;
          position: relative;
          top: 0.5em;

          i.icon-close {
            color: $blue;
          }
        }
      }

      .modal-body {
        //border-bottom: 0;
      }

      .modal-footer {
        border-top: 0;
        padding-top: 0;

        a,
        button {
          font-family: "HCo Gotham", arial, sans-serif;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.143em;
        }

        a {
          float: none;
          padding-top: 1.429em;
        }
        @media (min-width: 768px) {
          a,
          button {
            display: inline-block;
            width: auto;
          }

          a {
            float: left;
            position: relative;
            top: 11px;
            padding: 0;
          }
        }
      }
    }
  }
}
