.pagination {
    li {
      a {
        border-color: $gray-light;
        margin-right: 0.5em;

        @media (max-width: 360px) {
          margin-right: 0.2em;
        }

        &:hover {
          background-color: $blue-active;
          border-color: $blue-active;
          color: $white;
        }
      }
      &:first-child>a, &:last-child>a {
          &:before {
            font-family: "higux";
            font-size: 14px;
            vertical-align: middle;
          }
        }
        &:first-child>a {
            &:before {
                content: "\e045";
            }
        }
        &:last-child>a {
          margin-right: 0em;
            &:before {
                content: "\e046";
            }
        }
    }
    .active>a {
        background-color: $blue;
        border-color: $blue;

        &:hover, &:focus {
          background-color: $blue;
        }
    }
    .disabled>a {
      border: 0;
      color: $blue;
      cursor: default;

      &:hover, &:focus {
        color: $blue;
        cursor: default;
        pointer-events: none;
      }
    }
    .pagination-hidden-xs {
      @media (max-width: $screen-sm-min - 1) {
        display: none;
      }
    }
}
.pagination-container {
  display: block;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-flow: row nowrap; /* same line alignment */
    justify-content: space-between; /* same margin between the child elems */
    align-items: center; /* vertical alignment */
  }

  .pagination {
    &-left {

    }
    &-middle {

    }
    &-right {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* Only for IE10+ */
        span {
          position: relative;
          top: -0.8em;
        }
      }
      .select-container {
        display: inline-block;
        float: none;
        margin-bottom: 0;
        margin-left: 0.625em;
        width: 4.5em;

        select {
          height: 36px;
        }
        &:after {
          height: 34px;
          width: 25px;
        }
      }
    }
  }
}
