.popover {
  background-color: $white;
  border-top: 6px solid $blue-light;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  padding: 1em;
  max-width: 20em;
  color: $black;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* Popover Title */
  .popover-title {
    background: none;
    border-bottom: 0;
  }
  /* Popover Body/Content */
  .popover-content {}
  /* Popover Arrow */
  &.right > .arrow {
    left: -10px;
  }

  &.top > .arrow {
    bottom: -10px;
  }

  .arrow {}
  /*Popover Close*/
  .popover-close {
    position: absolute;
    right: 1em;
    cursor: pointer;
    vertical-align: middle;
  }
}

.popover-dismissible,
.popover-toggle {
  display: block;
  margin-bottom: 0.5em;
}
@media(min-width: $screen-sm-min) {
  .popover-dismissible,
  .popover-toggle {
    display: inline-block;
    margin-bottom: 0;
  }
}
