/*@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.item-inner {
  background-color: $blue;
  @include aspect-ratio(30, 9);
}*/
.carousel {
  background-color: $blue;

  .carousel-indicators {
    bottom: 10px;
  }

  .carousel-inner {
    margin-top: 3em;
    margin-bottom: 3em;

    .active.left,
    .active.right,
    .next,
    .next.left,
    .prev,
    .prev.right {
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .item {
      .item-inner {
        section {
          color: $white;
          margin-left: 15%;
          margin-right: 15%;
          padding-bottom: 1em;

          h4 {
            text-transform: uppercase;
            padding-bottom: 15px;
            border-bottom: 2px solid $blue-active;
            color: $white;
            margin-bottom: 0;
          }

          div {
            border-bottom: 2px solid $blue-active;
            padding-bottom: 1em;
            padding-top: 1em;
            @media (min-width: $screen-sm-min) {
              font-size: 1.714em;
            }
          }
        }
      }
    }
  }

  .carousel-control {
    background: none;

    i {
      display: none;
      @media(min-width: 768px) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -.75em;
        margin-left: -.75em;
      }

      &:before {
        font-size: 1.5em;
      }
    }
  }
}
