.security-message {
  padding-top: 1em;

  &-icon {
    display: table-cell;
    color: $blue;
    vertical-align: top;
    font-size: 1.714em;
  }

  &-content {
    color: $gray;
    display: table-cell;
    font-size: 0.857em;
    padding: 0 0 1em 1em;
  }
}
