// sidebar (aka right rail)

.sidebar {
  &-left {
    margin-right: 1em;
  }

  &-right {
    margin-left: 1em;
  }

  &-higux {
    h2 {
      margin-bottom: 4px;
    }

    a {
      padding-left: 8px;

      &:hover,
      &[aria-expanded="true"] {
        border-left: 2px solid $black;
        color: $black;
        padding-left: 6px;
        text-decoration: none;
      }
    }

    > ul {
      list-style-type: none;
      padding-left: 0;

      li {
        margin-bottom: 0.3em;
        margin-top: 0.3em;

        > ul {
          list-style-type: none;
          padding-left: 1em;
        }
      }
    }
  }
}

.side-nav {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  div {
    padding: 8px 15px;
    min-height: 30px;
    background: $gray-light;
    color: $blue;
    font-weight: 500;
  }

  .app-nav {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      border-bottom: 1px solid $gray-light;
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      background: $white;

      a {
        padding: 10px 15px;
        min-height: 40px;
        color: $blue;
        display: block;
        text-decoration: none;
        &:hover {
          background-color: $blue-active;
          color: $white;

        }
      }

      &:first-of-type {
        border-top: 1px $gray-light solid;
      }

      &.active {
        font-weight: 500;
        border-left: 5px $blue solid;
        a {
          padding-left: 10px;
        }
      }
    }
  }
}
