h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $blue;
  margin-top: 0;
  margin-bottom: 20px;

  &.green {
    color: $green;
  }
}

h2 {
  &.underlined {
    padding-bottom: 0.5em;
    border-bottom: 2px solid $blue;
  }

  &.green.underlined {
    border-bottom: 2px solid $green;
  }
}

p {
  font-family: $font-family-paragraph;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5em;
}

ul {
  li {
    line-height: 1.5em;
  }
}

a {
  font-weight: 500;
  color: $blue-link;

  &:active,
  &:hover,
  &:visited {
    color: $blue-link;
    text-decoration: underline;
  }
}

small {
  color: $gray-medium;
  line-height: 1.25em;
}
