// Colors
$black: #000;
$blue: #3a5a78;
$blue-active: #4d7495;
$blue-light: #b6d3e9;
$blue-hover: #68b5e4;
$blue-link: #2477bf;
$blue-light-table-hover: #deecf7;
$gray: #484848;
$gray-background: #f7f7f7;
$gray-light: #dadada;
$gray-lighter: #ededed;
$gray-medium: #888;
$gray-hover: #fafafa;
$gray-tile: #6c6c6c;
$green: #118654;
$green-active: #13a060;
$red: #822b2f;
$red-error: #b83b2f;
$white: #fff;
$yellow-warning: #f7941f;
// Shadows
$shadow-deep: rgba(0, 0, 0, 0.75);
$shadow-medium-deep: rgba(0, 0, 0, 0.5);
$shadow-shallow: rgba(0, 0, 0, 0.05);
$shadow-medium: rgba(0, 0, 0, 0.175);
// Border Radiuses
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
// Accordions Variables
$panel-header-bg: $gray-lighter;
$panel-header-bg-active: $blue;
// Fonts
$font-family-base: "HCo Gotham", arial, sans-serif;
$font-family-title: "HCo Gotham", arial, sans-serif;
$font-family-paragraph: "HCo Gotham SSm", arial, sans-serif;
$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-small: ceil(($font-size-base * 0.875)) !default; // ~14px
$font-size-h1: floor(($font-size-base * 1.625)); // ~26px
$font-size-h2: floor(($font-size-base * 1.375)); // ~22px
$font-size-h3: ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4: ceil(($font-size-base * 1.125)); // ~18px
$font-size-h5: $font-size-base !default;
$baseline-px: 16 !default;
// Font Paths
$theme-font-path: "../fonts" !default;
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/" !default;
$fa-font-path: "/node_modules/font-awesome/fonts/" !default;
// Sprite Paths
$icon-sprite-path: "../images/" !default;
// Breakpoint Variables & Shorthand Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$gt-mobile: #{(min-width: $screen-sm-min)};
$gt-tablet: #{(min-width: $screen-md-min)};
$gt-desktop: #{(min-width: $screen-lg-min)};
