<div class="card">
  <div class="card-img">
    <img src="images/{{image}}.svg" onerror="this.src='images/{{image}}.png'; this.onerror=null;" alt="The Hartford">
  </div>
  <div class="card-title">
    <h4>{{title}}</h4>
  </div>
</div>
