<div class="row card">
  <div class="col-xs-10">
    <form>
      <div class="form-group">
        <label for="comment">eDelivery Terms &amp; Conditions</label>
        <textarea class="form-control tc-standard-textarea"rows="3" id="comment">{{#> legal/terms-text}}{{/legal/terms-text}}
        </textarea>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" value="c1" data-error="Please make your selection" name="checkbox" required>
            <i class="icon"></i>I accept the Terms and Conditions</label>
        </div>
      </div>

    </form>
  </div>
</div>{{#if showcode}}<pre><code class="html">&lt;div class=&quot;row card&quot;&gt;
    &lt;div class=&quot;col-xs-10&quot;&gt;
      &lt;form&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label for=&quot;comment&quot;&gt;eDelivery Terms &amp;amp; Conditions&lt;/label&gt;
          &lt;textarea class=&quot;form-control&quot;rows=&quot;3&quot; id=&quot;comment&quot;&gt;
{{#> legal/terms-text}}{{/legal/terms-text}}
          &lt;/textarea&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;div class=&quot;checkbox&quot;&gt;
            &lt;label class=&quot;checkbox-inline&quot;&gt;
              &lt;input type=&quot;checkbox&quot; value=&quot;c1&quot; name=&quot;checkbox&quot; required&gt;
              &lt;i class=&quot;icon&quot;&gt;&lt;/i&gt;I accept the Terms and Conditions&lt;/label&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt;
    &lt;/div&gt;
&lt;/div&gt;
  </code>
</pre>
{{/if}}
