<label for="s1">Select label: </label>
<div class="select-container">
  <select name="s1" class="form-control" required>
    <option value="">Please Select</option>
    <option value="one">This is an example</option>
    <option value="two">2</option>
    <option value="three">3</option>
  </select>
</div>
