<div class="form-group has-feedback form-select">
  <label class="control-label" for="sel1">Select statement</label>
  <select name="select1" class="form-control selectpicker" required>
    <option value="">Please Select</option>
    <option value="one">1</option>
    <option value="two">2</option>
    <option value="three">3</option>
  </select>
  <!-- <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span> -->
</div>

<div class="form-group has-feedback form-select custom-select-blue">
  <label class="control-label" for="sel1">Select statement</label>
  <select name="select2" class="form-control selectpicker" required>
    <option value="">Please Select</option>
    <option value="one">1</option>
    <option value="two" data-icon="fa fa-star-o">2</option>
    <option value="three">3</option>
  </select>
  <!-- <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span> -->
</div>

<div class="form-group has-feedback form-select custom-select-blue">
  <label class="control-label" for="sel1">Select statement (Disabled)</label>
  <select name="select2" class="form-control selectpicker" required disabled>
    <option value="">Please Select</option>
    <option value="one">1</option>
    <option value="two" data-icon="fa fa-star-o">2</option>
    <option value="three">3</option>
  </select>
  <!-- <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span> -->
</div>
