<div class="row">
  <div class="col-xs-12">
    <h2 class="underlined">Input Fields</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#> form/input/name}}{{/form/input/name}}
  </div>
  <div class="col-sm-6">
    {{#> form/input/email}}{{/form/input/email}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#> form/input/password}}{{/form/input/password}}
  </div>
  <div class="col-sm-6">
    {{#> form/input/credit-card}}{{/form/input/credit-card}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#> form/input/optional}}{{/form/input/optional}}
  </div>
  <div class="col-sm-6">
      <br class="hidden-xs"/>
      <small class="hidden-xs">
        Field clarification (hidden on mobile)
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
      </small>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#> form/input/percent}}{{/form/input/percent}}
  </div>
  <div class="col-sm-6">
    {{#> form/input/currency}}{{/form/input/currency}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{#> form/input/disabled/name-disabled}}{{/form/input/disabled/name-disabled}}
  </div>
  <div class="col-sm-6">
    {{#> form/input/disabled/credit-card-disabled}}{{/form/input/disabled/credit-card-disabled}}
  </div>
</div>
