<h2 class="underlined">Radio &amp; Checkbox Selectors</h2>
<div class="row">
  <div class="col-sm-6 form-group">
    <h5 class="radio-title">Radio Title</h5>
    <div>
      <div class="radio">
        <label class="radio-inline"><input type="radio" value="r1" name="radio" data-error="Please check one option" required>Radio 1</label>
      </div>
      <div class="radio">
        <label class="radio-inline"><input type="radio" value="r2" name="radio" data-error="Please check one option" required>Radio 2</label>
      </div>
    </div>
    {{#> form/input/error}}{{/form/input/error}}
  </div>
  <div class="col-sm-6 form-group">
    <h5 class="radio-title-horizontal">Radio Title</h5>
    <div>
      <label class="radio-inline"><input type="radio" value="r3" name="radio1" data-error="Please check one option" required>Radio 1</label>
      <label class="radio-inline"><input type="radio" value="r4" name="radio1" data-error="Please check one option" required>Radio 2</label>
    </div>
    {{#> form/input/error}}{{/form/input/error}}
  </div>
</div>
<div class="row">
  {{#> form/radio/vertical-stacked}}{{/form/radio/vertical-stacked}}
</div>
<div class="clearfix"></div>
<div class="form-group col-sm-6 disable-states">
  <div class="radio">
    <label class="radio-inline" disabled><input type="radio" value="rdisabled1" name="rdisabled" disabled>Radio 1</label>
  </div>
  <div class="radio">
    <label class="radio-inline" disabled><input type="radio" value="rdisabled2" name="rdisabled" disabled>Radio 2</label>
  </div>
</div>

<div class="form-group col-sm-6 disable-states">
  <label class="radio-inline" disabled><input type="radio" value="rdisabled3" name="rdisabled1" data-error="Please check one option" disabled>Radio 1</label>
  <label class="radio-inline" disabled><input type="radio" value="rdisabled4" name="rdisabled1" data-error="Please check one option" disabled>Radio 2</label>
</div>

<div class="col-sm-6 form-group" style="clear: left">
  <h5 class="checkbox-title">Checkbox Title</h5>
  <div class="checkbox">
    <label class="checkbox-inline"><input type="checkbox" value="c1" data-error="Please make your selection" name="checkbox" required><i class="icon"></i>Checkbox 1</label>
  </div>
  <div class="checkbox">
    <label class="checkbox-inline"><input type="checkbox" value="c2" data-error="Please make your selection" name="checkbox" required><i class="icon"></i>Checkbox 2</label>
  </div>
  <span class="icon icon-attention form-control-feedback checkbox-error" aria-hidden="true"><i class="fa fa-caret-up"></i></span>
  <div class="help-block with-errors"></div>
</div>

<div class="col-sm-6 form-group">
  <h5 class="checkbox-title-horizontal">Checkbox Title</h5>
  <label class="checkbox-inline"><input type="checkbox" value="c3" data-error="Please make your selection" name="checkbox1" required><i class="icon"></i>Checkbox 1</label>
  <label class="checkbox-inline"><input type="checkbox" value="c4" data-error="Please make your selection" name="checkbox1" required><i class="icon"></i>Checkbox 2</label>
  <span class="icon icon-attention form-control-feedback checkbox-horizontal-error" aria-hidden="true"><i class="fa fa-caret-up"></i></span>
  <div class="help-block help-block-horizontal with-errors"></div>
</div>
<div class="clearfix"></div>
<div class="form-group col-sm-6 disable-states">
  <div class="checkbox">
    <label class="checkbox-inline" disabled><input type="checkbox" value="cdisabled1" data-error="Please make your selection" name="cisabled" disabled><i class="icon"></i>Checkbox 1</label>
  </div>
  <div class="checkbox">
    <label class="checkbox-inline" disabled><input type="checkbox" value="cdisabled2" data-error="Please make your selection" name="cisabled" disabled><i class="icon"></i>Checkbox 2</label>
  </div>
</div>

<div class="form-group col-sm-6 disable-states">
  <label class="checkbox-inline" disabled><input type="checkbox" value="cdisabled3" data-error="Please make your selection" name="cisabled1" disabled><i class="icon"></i>Checkbox 1</label>
  <label class="checkbox-inline" disabled><input type="checkbox" value="cdisabled4" data-error="Please make your selection" name="cisabled1" disabled><i class="icon"></i>Checkbox 2</label>
</div>

<h4 class="col-xs-12">Custom Radio Button</h4>

<div class="form-group col-xs-12 radio-custom">
  <h5 class="radio-title">Radio Title</h5>
  <div class="radio">
    <input type="radio" name="customRadio" id="customRadio1" class="radio" checked/>
    <label for="customRadio1">Yes</label>
  </div>

  <div class="radio">
    <input type="radio" name="customRadio" id="customRadio2" class="radio" />
    <label for="customRadio2">No</label>
  </div>
</div>
