<h3>Tile Selectors</h3>

<h4>Radio Selector</h4>
{{#> form/input/tile-selectors-radio}}{{/form/input/tile-selectors-radio}}

<h4>Alternative Radio Selector</h4>
{{#> form/input/tile-selectors-alt-radio}}{{/form/input/tile-selectors-alt-radio}}

<h4>Mini Tile Selectors</h4>
{{#> form/input/tile-selectors-radio-sm}}{{/form/input/tile-selectors-radio-sm}}

<h4>Checkbox Selector</h4>
{{#> form/input/tile-selectors-cbox}}{{/form/input/tile-selectors-cbox}}

<h4>Radio Tile Selector</h4>
<div class="tile-click-radio form-group">
    <div class="col-sm-offset-1 col-sm-4">
        <label class="radio-inline card offset">
          <input type="radio" name="tileRadio">
          Lifetime Renewability
        </label>
    </div>
    <div class="col-sm-offset-1 col-sm-4">
        <label class="radio-inline card offset">
          <input type="radio" name="tileRadio">
          Lifetime Renewability
        </label>
    </div>
</div>
