<div class="col-xs-12">
  <!-- btn-group with fixed padding -->
  <h4 class="demo-pad-top">Toggle Selector(radio) with fixed padding: </h4>
  <div class="form-group">
    <div class="toggle-title">Toggle title </div>
    <div class="btn-group btn-group-toggle btn-group-fixed-padding" data-toggle="buttons">
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-1" autocomplete="off"> 1
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-2" autocomplete="off"> 2
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-3" autocomplete="off"> 3
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-4" autocomplete="off"> 12
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-5" autocomplete="off"> 101
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-6" autocomplete="off"> ABC
      </label>
    </div>
  </div>
  <!-- showing code -->
  {{#if showcode}}<pre><code class="html">
  &lt;div class="form-group"&gt;
    &lt;div class="toggle-title"&gt;Toggle title &lt;/div&gt;
    &lt;div class="btn-group btn-group-toggle btn-group-fixed-padding" data-toggle="buttons"&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-1" autocomplete="off"&gt; 1
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-2" autocomplete="off"&gt; 2
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-3" autocomplete="off"&gt; 3
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-4" autocomplete="off"&gt; 12
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-5" autocomplete="off"&gt; 101
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-6" autocomplete="off"&gt; ABC
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
  {{/if}}
  <!-- btn-group with variable padding -->
  <h4 class="demo-pad-top">Toggle Selector(radio) with variable padding: </h4>
  <div class="form-group">
    <div class="toggle-title">Toggle title </div>
    <div class="btn-group btn-group-toggle btn-group-variable-padding" data-toggle="buttons">
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-1" autocomplete="off"> 1
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-2" autocomplete="off"> 2
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-3" autocomplete="off"> 3
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-4" autocomplete="off"> 12
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-5" autocomplete="off"> 80
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="toggle-sel-6" autocomplete="off"> AB
      </label>
    </div>
  </div>
  <!-- showing code -->
  {{#if showcode}}<pre><code class="html">
  &lt;div class="form-group"&gt;
    &lt;div class="toggle-title"&gt;Toggle title &lt;/div&gt;
    &lt;div class="btn-group btn-group-toggle btn-group-variable-padding" data-toggle="buttons"&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-1" autocomplete="off"&gt; 1
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-2" autocomplete="off"&gt; 2
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-3" autocomplete="off"&gt; 3
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-4" autocomplete="off"&gt; 12
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-5" autocomplete="off"&gt; 80
      &lt;/label&gt;
      &lt;label class="btn btn-secondary"&gt;
        &lt;input type="radio" name="toggle-sel-6" autocomplete="off"&gt; AB
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
  {{/if}}
</div>
