<div class="form-group has-feedback">
  <label class="control-label">Date Selector</label>
  <div class='input-group date has-feedback' id='datetimepicker1'>
    <input type='text' class="form-control" value="" name="date" required>
    <span class="input-group-addon date-picker-addon">
      <i class="icon icon-date-picker" aria-hidden="true"></i>
    </span>
  </div>
  {{#> form/input/error}}{{/form/input/error}}
</div>
{{#if showcode}}
  <pre class="pre-scrollable"><code class="html">&lt;div class="form-group has-feedback"&gt;
    &lt;label class="control-label"&gt;Date Selector&lt;/label&gt;
    &lt;div class='input-group date has-feedback' id='datetimepicker1'&gt;
      &lt;input type='text' class="form-control" value="" name="date" required&gt;
      &lt;span class="input-group-addon date-picker-addon"&gt;
        &lt;i class="icon icon-date-picker" aria-hidden="true"&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/div&gt;
    &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;/span&gt;
    &lt;div class="help-block with-errors"&gt;&lt;/div&gt;
</code></pre>{{/if}}
