<div class="form-group">
  <label for="example" class="control-label {{#if horizontal}}col-md-6{{/if}}">Optional field</label>
  {{#if horizontal}}<div class="col-md-6">{{/if}}
  <input type="text" class="form-control" id="example" name="example" placeholder="Enter here" />
  {{#if horizontal}}</div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group"&gt;
  &lt;label for="example" class="control-label {{#if horizontal}}col-md-6{{/if}}"&gt;Optional field&lt;/label&gt;
  {{#if horizontal}}&lt;div class="col-md-6"&gt;{{/if}}
  &lt;input type="text" class="form-control" id="example" name="example" placeholder="Enter here" /&gt;
  {{#if horizontal}}&lt;/div&gt;{{/if}}
&lt;/div&gt;
</code></pre>{{/if}}
