<div class="form-group has-feedback">
  <label for="pwd" class="control-label{{#if horizontal}} col-md-6{{/if}}">Secure (password) Field</label>{{#if horizontal}}
  <div class="col-md-6">{{/if}}
  <div class="input-group">
    <span class="input-group-addon"><i class="icon icon-secure"></i></span>
    <input id="pwd" data-minlength="5" type="password" class="form-control" name="pwd" placeholder="Password" required />
  </div>
  <small class="help-block">Mininum 5 characters</small>
  <span class="icon icon-attention form-control-feedback" aria-hidden="true"><i class="fa fa-caret-down"></i></span><div class="help-block with-errors"></div>
  {{#if horizontal}}
</div>{{/if}}
</div>
{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group has-feedback"&gt;
  &lt;label for="pwd" class="control-label{{#if horizontal}} col-md-6{{/if}}"&gt;Secure (password) Field&lt;/label&gt;{{#if horizontal}}
  &lt;div class="col-md-6"&gt;{{/if}}
  &lt;div class="input-group"&gt;
    &lt;span class="input-group-addon"&gt;&lt;i class="icon icon-secure"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input id="pwd" data-minlength="5" type="password" class="form-control" name="pwd" placeholder="Password" required /&gt;
  &lt;/div&gt;
  &lt;small class="help-block"&gt;Mininum 5 characters&lt;/small&gt;
  &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/span&gt;&lt;div class="help-block with-errors"&gt;&lt;/div&gt;
  {{#if horizontal}}
&lt;/div&gt;{{/if}}
&lt;/div&gt;
</code></pre>{{/if}}
