<div class="form-group">
  <label for="percent-field" class="control-label{{#if horizontal}} col-md-6{{/if}}">Percent Field</label>{{#if horizontal}}
  <div class="col-md-6">{{/if}}
  <div class="input-group">
    <input id='percent-field' type="text" class="form-control" name="percent-field" required>
    <span class="input-group-addon">&percnt;</span>
  </div>
  {{#> form/input/error}}{{/form/input/error}}
  {{#if horizontal}}
</div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group"&gt;
  &lt;label for="percent-field" class="control-label{{#if horizontal}} col-md-6{{/if}}"&gt;Percent Field&lt;/label&gt;{{#if horizontal}}
  &lt;div class="col-md-6"&gt;{{/if}}
  &lt;div class="input-group"&gt;
    &lt;input id='percent-field' type="text" class="form-control" name="percent-field" required&gt;
    &lt;span class="input-group-addon"&gt;&percnt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;/span&gt;
  &lt;div class="help-block with-errors"&gt;&lt;/div&gt;
  {{#if horizontal}}
&lt;/div&gt;{{/if}}
&lt;/div&gt;
</code></pre>{{/if}}
