<div class="row-xs tile-selectors-sm form-group">
  <div class="col-xs-4">
    <label for="ownerRM">
      <input type="radio" name="radio-mini" id="ownerRM">
      <span>Owner</span>
    </label>
  </div>
  <div class="col-xs-4">
    <label for="employeeRM">
      <input type="radio" name="radio-mini" id="employeeRM">
      <span>Employee</span>
    </label>
  </div>
  <div class="col-xs-4">
    <label for="thirdPartyRM">
      <input type="radio" name="radio-mini" id="thirdPartyRM">
      <span>3rd Party</span>
    </label>
  </div>
  <div class="help-block with-errors"></div>
</div>
{{#if showcode}}
<h5>Code:</h5>
  <pre class="pre-scrollable"><code class="html">&lt;div class="row-xs tile-selectors-sm form-group"&gt;
    &lt;div class="col-xs-4"&gt;
      &lt;label for="ownerRM"&gt;
        &lt;input type="radio" name="radio-mini" id="ownerRM"&gt;
        &lt;span&gt;Owner&lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-4"&gt;
      &lt;label for="employeeRM"&gt;
        &lt;input type="radio" name="radio-mini" id="employeeRM"&gt;
        &lt;span&gt;Employee&lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-4"&gt;
      &lt;label for="thirdPartyRM"&gt;
        &lt;input type="radio" name="radio-mini" id="thirdPartyRM"&gt;
        &lt;span&gt;3rd Party&lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="help-block with-errors"&gt;&lt;/div&gt;
  &lt;/div&gt;
</code></pre>{{/if}}
