<div class="row tile-selectors">
  <div class="radio-alt col-sm-3">
    <label><input type="radio" name="radio"><span class="radio-alt-title">Option 1 title</span><span class="radio-alt-details">Selection Details</span></label>
  </div>
  <div class="radio-alt col-sm-3">
    <label><input type="radio" name="radio"><span class="radio-alt-title">Option 2 title</span><span class="radio-alt-details">Selection Details</span></label>
  </div>
  <div class="radio-alt col-sm-3">
    <label><input type="radio" name="radio"><span class="radio-alt-title">Option 3 title</span><span class="radio-alt-details">Selection Details</span></label>
  </div>
  <div class="radio-alt col-sm-3">
    <label><input type="radio" name="radio"><span class="radio-alt-title">Option 4 title</span><span class="radio-alt-details">Selection Details</span></label>
  </div>
  <div class="radio-alt col-sm-3">
    <label><input type="radio" name="radio" disabled><span class="radio-alt-title input-disabled">Option 5 title</span><span class="radio-alt-details input-disabled">Disabled State</span></label>
  </div>
</div>
{{#if showcode}}
<h5>Code:</h5>
<pre class="pre-scrollable"><code class="html">&lt;div class="row tile-selectors"&gt;
  &lt;div class="radio-alt col-sm-3"&gt;
    &lt;label&gt;&lt;input type="radio" name="radio"&gt;&lt;span class="radio-alt-title"&gt;Option 1 title&lt;/span&gt;&lt;span class="radio-alt-details"&gt;Selection Details&lt;/span&gt;&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio-alt col-sm-3"&gt;
    &lt;label&gt;&lt;input type="radio" name="radio"&gt;&lt;span class="radio-alt-title"&gt;Option 2 title&lt;/span&gt;&lt;span class="radio-alt-details"&gt;Selection Details&lt;/span&gt;&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio-alt col-sm-3"&gt;
    &lt;label&gt;&lt;input type="radio" name="radio"&gt;&lt;span class="radio-alt-title"&gt;Option 3 title&lt;/span&gt;&lt;span class="radio-alt-details"&gt;Selection Details&lt;/span&gt;&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio-alt col-sm-3"&gt;
    &lt;label&gt;&lt;input type="radio" name="radio"&gt;&lt;span class="radio-alt-title"&gt;Option 4 title&lt;/span&gt;&lt;span class="radio-alt-details"&gt;Selection Details&lt;/span&gt;&lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio-alt col-sm-3"&gt;
    &lt;label&gt;&lt;input type="radio" name="radio" disabled&gt;&lt;span class="radio-alt-title radio-alt-title-disabled"&gt;Option 5 title&lt;/span&gt;&lt;span class="radio-alt-details radio-alt-details-disabled"&gt;Disabled State&lt;/span&gt;&lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>{{/if}}
