<div class="row tile-selectors{{size}} form-group">
  <div class="radio col-sm-3">
    <label>
      <input type="radio" name="radio2" required>
      <span>
        <i class="icon icon-bank icon-2x hidden-xs"></i>
        <br class="hidden-xs">
        Option 1
      </span>
    </label>
  </div>
  <div class="radio col-sm-3">
    <label>
      <input type="radio" name="radio2" required>
      <span>Option 2</span>
    </label>
  </div>
  <div class="radio col-sm-3">
    <label>
      <input type="radio" name="radio2" required>
      <span>Option 3</span>
    </label>
  </div>
  <div class="radio col-sm-3">
    <label class="input-disabled">
      <input type="radio" name="radio2" required disabled>
      <span>Option 4</span>
    </label>
  </div>
  <div class="help-block with-errors col-xs-12"></div>
</div>{{#if showcode}}
<h5>Usage Notes:</h5>
<blockquote><p>If you have five radio tiles and four can fit on a line, please wrap two below. After doing so, you should have three on top and two below. This is a better visual than 4 on one line and one beneath.</p>
<p>All radio tiles should be the same size. If your text is longer than 3-4 lines in the tiles, please switch to the more traditional radio selectors.</p>
<p>You may adjust the WIDTH of the radio tiles for your design. The height should always be the same.</p></blockquote>
<h5>Code:</h5>
<pre class="pre-scrollable"><code class="html">&lt;div class="row tile-selectors form-group"&gt;
  &lt;div class="radio col-sm-3"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="radio2" required&gt;
      &lt;span&gt;
        &lt;i class="icon icon-bank icon-2x hidden-xs"&gt;&lt;/i&gt;
        &lt;br class="hidden-xs"&gt;
        Option 1
      &lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio col-sm-3"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="radio2" required&gt;
      &lt;span&gt;Option 2&lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio col-sm-3"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="radio2" required&gt;
      &lt;span&gt;Option 3&lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="radio col-sm-3"&gt;
    &lt;label class="input-disabled"&gt;
      &lt;input type="radio" name="radio2" required disabled&gt;
      &lt;span&gt;Option 4&lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="help-block with-errors col-xs-12"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>{{/if}}
