<div class="tile-selectors form-group" id="demoCheckbox">
  <div class="row">
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check1"
      label="Chocolate"
      showcode=""
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check2"
      label="Mint"
      icon="icon-bank"
      required="required"
      showcode=""
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check3"
      label="Vanilla"
      required="required"
      showcode=""
    }}{{/form/input/tile-cbox}}
  </div>
  <div class="row">
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check4"
      label="Cookies and Cream"
      icon="icon-boat-insurance"
      required="required"
      showcode=""
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check4"
      label="None of the Above"
      icon="icon-stop"
      required="required"
      showcode=""
    }}{{/form/input/tile-cbox}}
  </div>
  <div class="help-block with-errors col-xs-12"></div>
</div>
{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="tile-selectors form-group" id="demoCheckbox"&gt;
  &lt;div class="row"&gt;
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check1"
      label="Chocolate"
      showcode="true"
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check2"
      label="Mint"
      icon="icon-bank"
      required="required"
      showcode="true"
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check3"
      label="Vanilla"
      required="required"
      showcode="true"
    }}{{/form/input/tile-cbox}}
  &lt;/div&gt;
  &lt;div class="row"&gt;
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check4"
      label="Cookies and Cream"
      icon="icon-boat-insurance"
      required="required"
      showcode="true"
    }}{{/form/input/tile-cbox}}
    {{#> form/input/tile-cbox
      name="checkbox"
      value="check4"
      label="None of the Above"
      icon="icon-stop"
      required="required"
      showcode="true"
    }}{{/form/input/tile-cbox}}
  &lt;/div&gt;
  &lt;div class="help-block with-errors col-xs-12"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
{{/if}}
