<div class="form-group vertical-stacked col-sm-12">
  <h5 class="radio-title-horizontal">Horizontal Desktop, Vetical Stack Mobile</h5>
    <div>
      <label class="radio-inline"><input type="radio" value="r3" name="radio1" data-error="Please check one option" required>Continuously</label>
      <label class="radio-inline"><input type="radio" value="r4" name="radio1" data-error="Please check one option" required>Weekly</label>
      <label class="radio-inline"><input type="radio" value="r4" name="radio1" data-error="Please check one option" required>Monthly</label>
      <label class="radio-inline"><input type="radio" value="r4" name="radio1" data-error="Please check one option" required>Yearly</label>
      <label class="radio-inline"><input type="radio" value="r4" name="radio1" data-error="Please check one option" required>Not at all</label>
    </div>
  {{#> form/input/error}}{{/form/input/error}}
</div>
{{#if showcode}}
<pre class="pre-scrollable"><code class="html">
&lt;div class=&quot;form-group vertical-stacked col-sm-12&quot;&gt;
  &lt;h5 class=&quot;radio-title-horizontal&quot;&gt;Radio Title&lt;/h5&gt;
  &lt;label class=&quot;radio-inline&quot;&gt;&lt;input type=&quot;radio&quot; value=&quot;r3&quot; name=&quot;radio1&quot; data-error=&quot;Please check one option&quot; required&gt;Continuously&lt;/label&gt;
  &lt;label class=&quot;radio-inline&quot;&gt;&lt;input type=&quot;radio&quot; value=&quot;r4&quot; name=&quot;radio1&quot; data-error=&quot;Please check one option&quot; required&gt;Weekly&lt;/label&gt;
  &lt;label class=&quot;radio-inline&quot;&gt;&lt;input type=&quot;radio&quot; value=&quot;r4&quot; name=&quot;radio1&quot; data-error=&quot;Please check one option&quot; required&gt;Monthly&lt;/label&gt;
  &lt;label class=&quot;radio-inline&quot;&gt;&lt;input type=&quot;radio&quot; value=&quot;r4&quot; name=&quot;radio1&quot; data-error=&quot;Please check one option&quot; required&gt;Yearly&lt;/label&gt;
  &lt;label class=&quot;radio-inline&quot;&gt;&lt;input type=&quot;radio&quot; value=&quot;r4&quot; name=&quot;radio1&quot; data-error=&quot;Please check one option&quot; required&gt;Not at all&lt;/label&gt;
  &lt;span class=&quot;icon icon-attention form-control-feedback radio-horizontal-error&quot; aria-hidden=&quot;true&quot;&gt;&lt;i class=&quot;fa fa-caret-up&quot;&gt;&lt;/i&gt;&lt;/span&gt;
  &lt;div class=&quot;help-block help-block-horizontal with-errors&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>{{/if}}
