.form-group {
  .icon.icon-attention {
    display: none;
  }

  &.has-error {
    h6 {
      color: $red-error;
    }

    small {
      color: $red-error;
    }

    .input-group-addon,
    input {
      border-color: $red-error;
    }

    .input-group-addon {
      color: $white;
      .icon {
        color: $white;
      }
    }

    .icon.icon-attention {
      display: inline-block;
      right: auto;
      top: auto;

      &:before {
        color: $red-error;
        font-size: 1em;
        position: relative;
        content: "\e028";

      }

      .fa.fa-caret-down {
        color: $red-error;
        left: 7px;
        position: absolute;
        top: 16px;
        display: none;
      }

      .icon.icon-caret-down-alt {
        color: $red-error;
        left: 3px;
        position: absolute;
        top: 10px;
        display: none;
      }
    }

    .radio-inline {
      color: $red-error;

      input[type="radio"] {
        border: 1px solid $red-error;
      }

      input[type=radio]::-ms-check {
        border-color: $red-error;
      }
    }

    .checkbox-inline {
      color: $red-error;

      .icon:before {
        border: 1px solid $red-error;
      }
    }

    div.help-block {
      color: $red-error;
      margin-left: 2em;
      //position: absolute;

      &.help-block-horizontal {
        color: $red-error;
        margin-left: 4em;
      }
    }

    .checkbox-error,
    .checkbox-horizontal-error,
    .radio-error,
    .radio-horizontal-error {
      display: block;
      position: relative;
      top: 0;
      float: left;
      display: block;
      width: 24px;
      height: 24px;
      //background-color: $red-error;

      i.fa.fa-caret-up {
        color: $red-error;
        vertical-align: top;
        position: absolute;
        top: -0.67em;
        right: 0.45em;
      }
    }

    .icon.icon-attention {
      &.radio-error {
        top: -0.2em;
      }

      &.checkbox-horizontal-error {
        top: 1.7em;
        left: 1.5em;
      }

      &.radio-horizontal-error {
        left: 1.5em;
        top: 2.25em;
      }
    }
  }
  // .has-error {
  //
  //   .icon.icon-attention {
  //     display: inline-block;
  //     background-color: $red-error;
  //     color: $white;
  //     width: 24px;
  //     height: 24px;
  //     border-radius: 50%;
  //     text-align: center;
  //
  //     &:before {
  //       position: relative;
  //       top: -4px;
  //     }
  //
  //     .fa.fa-caret-down {
  //       color: $red-error;
  //       position: absolute;
  //       top: 16px;
  //       left: 7px;
  //       font-size: 14pt;
  //     }
  //     .icon.icon-caret-down-alt {
  //       color: $red-error;
  //       position: absolute;
  //       top: 16px;
  //       left: 7px;
  //       font-size: 14pt;
  //     }
  //   }
  // }
}
