//bootstrap select - start
.form-select {
  .bootstrap-select {
    &.open {
      .dropdown-toggle {
        box-shadow: none;
      }

      .dropdown-menu.open {
        margin: 3px 0 0;

        .dropdown-menu.inner {
          li {
            &.selected {
              a {
                outline: 0;
                background-color: $white;
              }
            }

            a {
              color: $blue;
            }
          }
        }
      }
    }

    button.dropdown-toggle {
      height: 40px;
      outline: 0;

      &.bs-placeholder {
        color: $blue;

        &:active,
        &:focus,
        &:hover {
          color: $blue;
        }
      }

      &:after {
        content: "\e044";
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 8px 8px 11px;
        background: $blue;
        color: white;
        pointer-events: none;
        font-family: "higux";
      }

      &.active,
      &:focus,
      &:hover {
        background: none !important;
        border-color: $blue;
        background-color: none !important;
        outline: 0 !important;
      }

      span {
        margin-top: -0.25em;
      }

      .bs-caret {
        display: none;
      }
    }
  }
}

.custom-select-blue {
  .bootstrap-select {
    &.open {
      .dropdown-menu.open {
        margin: 14px 0 0;

        .dropdown-menu.inner {
          li {
            &.selected {
              a {
                outline: 0;
                background-color: $white;
                color: $blue;
              }
            }

            a {
              color: $blue;
            }
          }
        }
      }
    }

    button.dropdown-toggle {
      height: 50px;
      background-color: $blue;

      &.bs-placeholder {
        color: $white;

        &:active,
        &:focus,
        &:hover {
          color: $white;
        }
      }

      &:after {
        padding: 13px 13px 13px 15px;
      }

      &.active,
      &:focus,
      &:hover {
        background: $blue !important;
        color: $white;
      }

      span {
        margin-top: 0.1em;
      }
      &.disabled {
        background-color: $gray-light;

        &:after {
          background-color: $gray-light;
        }
        &.active,
        &:focus,
        &:hover {
          background: $gray-light;
          border-color: $gray-light;
          background-color: $gray-light !important;
          outline: 0 !important;
        }
      }
    }
  }
}
//bootstrap select - end
