.form-group {
  margin-bottom: 1.25em;

  .icon.icon-more-information {
    color: $blue;
  }

  small {
    color: $blue;

    &.help-block {
      color: $gray-medium;

      &-disabled {
        color: $gray-light;
      }
    }
  }

  label {
    color: $blue;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25em;
  }

  input {
    //height: 40px;
    &:active,
    &:focus {
      border-color: $blue;
      outline: 0;
    }

    &::placeholder {
      font-size: 1em;
    }
  }

  input[disabled] {
    background: $white;
    border-color: $gray-light;
    box-shadow: none;
    color: $gray-light;

    &:active,
    &:focus {
      border-color: $gray-light;
      box-shadow: none;
    }
  }

  .input-disabled {
    .input-group-addon {
      background-color: $gray-light;
      border-color: $gray-light;
      cursor: not-allowed;

      .icon {
        color: $shadow-medium-deep;
      }
    }
  }

  .credit-card-input .input-group .input-group-addon.icon-disabled {
    background-color: $gray-light;
  }

  &.has-success {
    label,
    small {
      &.help-block {
        color: $blue;
      }
    }
  }
}

.input-group-addon,
input {
  border-color: $blue;
}

.input-group-addon {
  background-color: $gray-background;

  .icon {
    color: $blue;
    font-size: 1.25em;
  }
}

.has-success {
  .form-control {
    border-color: $blue;

    &:focus {
      border-color: $blue;
    }
  }

  .control-label {
    color: $blue;
  }

  .input-group-addon {
    background-color: $gray-background;
  }
}

.has-error {
  .input-group-addon .icon {
    color: $white;
  }
}

.credit-card-input {
  .input-group {
    input {
      width: 98%;
    }

    .input-group-addon.icon-camera {
      background-color: $blue;
      color: $white;
      font-size: 1.25em;

      &.icon-disabled {
        background-color: $gray-light;
        border-color: $gray-light;
      }
    }
  }

  .has-error {
    .input-group-addon.icon-camera {
      background-color: $red-error;
    }

    .icon.icon-attention {
      right: 3.5em;
    }

    .glyphicon-remove-sign {
      right: 48px;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .form-group {
    margin-bottom: 1.75em;
  }
}
