.tile-selectors {


  &.has-error {
    .checkbox,
    .radio {
      label {
        border: 1px solid $red-error;

        &:before {
          background-color: $red-error;
        }

        span {
          color: $red-error;

          &:before {
            box-shadow: inset 0 0 0 1px $red-error;
          }
        }
      }
    }
  }

  .radio {
    &-alt {
      label {
        line-height: 1.125em;
        margin-bottom: 1em;
      }
      input[type="radio"] {
        display: none;

        &:checked {
          ~ span {
            color: $green;

            &:first-of-type {
              &:before {
                background-color: $green;
                box-shadow: inset 0 0 0 1px $green;
                color: $white;
                content: "\e048";
                font-family: "higux";
                line-height: 1.7em;
                text-align: center;
              }
            }
          }
        }
      }

      &-title {
        padding-left: 2.5em;

        &:before {
          background-color: $white;
          border: 2px solid $white;
          border-radius: 50%;
          box-shadow: inset 0 0 0 2px $gray-medium;
          content: "";
          cursor: pointer;
          height: 1.75em;
          left: 1em;
          position: absolute;
          width: 1.75em;
        }
        &.input-disabled {
          color: $shadow-medium-deep;
          cursor: not-allowed;

          &:before {
            box-shadow: inset 0 0 0 2px $gray-light;
            cursor: not-allowed;
          }
        }
      }

      &-details {
        display: block;
        font-size: 0.829em;
        font-weight: normal;
        margin-left: 3em;

        &.input-disabled {
          color: $shadow-medium-deep;
          cursor: not-allowed;
        }
      }
    }
  }

  .checkbox,
  .radio {
    margin-top: 0;

    .input-disabled { /* disabled state - start */
      cursor: not-allowed;
      border-color: $gray-light;

      &:before {
        background-color: $gray-light;
      }
      &:after {
        //background: rgba(0, 0, 0, 0.1);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
      span:before {
        box-shadow: inset 0 0 0 1px $gray-light;
      }
    } /* disabled state - end */
    label {
      border: 1px solid $gray-medium;
      padding: 1em;
      transform: scale(1);
      width: 100%;

      &:not(.input-disabled):hover {
        transform: scale(1.1);
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      }

      span {
        color: $gray-medium;
        line-height: 1.4em;
        padding-left: 3em;

        &.margin-top {
          margin-top: 1.45em;
        }

        &:before {
          background-color: $white;
          border: 2px solid $white;
          border-radius: 50%;
          box-shadow: inset 0 0 0 1px $gray-medium;
          content: "";
          cursor: pointer;
          height: 2em;
          left: 1em;
          position: absolute;
          top: 12px;
          width: 2em;
        }
      }

      &:before {
        background-color: $gray-medium;
        content: "";
        height: 48px;
        left: 0;
        position: absolute;
        transform: translateY(-50%);
        width: 32px;
      }

      input[type="radio"]:checked + span {
        color: $green;

        &:before {
          background-color: $green;
          color: $white;
          content: "\e048";
          font-family: "higux";
          line-height: 1.9em;
          text-align: center;
        }
      }

      input[type="radio"],
      input[type="checkbox"] {
        display: none;
      }
    }
    //radio selector
    .radio {
      &-alt {
        input[type="radio"] {
          display: none;

          &:checked {
            ~ span {
              color: $green;

              &:first-of-type {
                &:before {
                  background-color: $green;
                  color: $white;
                  content: "\e048";
                  font-family: "higux";
                  line-height: 1.9em;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      &-active {
        border-color: $green;

        &:before {
          background-color: $green;
        }
      }
    }
    //checkbox selector
    .checkbox {
      &-active {
        border-color: $green;

        span {
          color: $green;

          &:before {
            background-color: $green;
            color: $white;
            content: "\e048";
            font-family: "higux";
            line-height: 1.9em;
            text-align: center;
          }
        }

        &:before {
          background-color: $green;
        }
      }
    }
  }

  .checkbox {
    label {
      span {
        &:before {
          border-radius: 0;
        }
      }
    }
  }

  .icon.icon-attention {
    display: none;
  }

  @media (max-width: $screen-sm-min - 1) {
    .checkbox,
    .radio {
      margin-bottom: 16px;

      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      label:before {
        height: 54px;
        top: 50%;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .checkbox,
    .radio {
      margin-bottom: 22px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0px;
      padding-left: 16px;
      padding-right: 16px;

      label {
        background-color: $white;
        border: 1px solid $gray-medium;
        height: 130px;
        padding: 1em;
        position: relative;
        width: 100%;

        &:before {
          background-color: $gray-medium;
          bottom: -1em;
          content: "";
          height: 2em;
          left: 0;
          position: absolute;
          top: initial;
          transform: translateY(-50%);
          width: 100%;
        }

        span {
          color: $gray-medium;
          display: block;
          //margin-top: 10px;
          padding-left: 0;
          text-align: center;

          &:before {
            background-color: $white;
            border: 2px solid $white;
            border-radius: 50%;
            bottom: -50px;
            box-shadow: inset 0 0 0 1px $gray-medium;
            content: "";
            cursor: pointer;
            height: 2em;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 2em;
          }
        }

        input[type="radio"]:checked + span {
          color: $green;

          &:before {
            background-color: $green;
            border: 2px solid $white;
            box-shadow: none;
            color: $white;
            content: "\e048";
            font-family: "higux";
            line-height: 1.9em;
            text-align: center;
          }
        }
      }

      input[type="radio"],
      input[type="checkbox"] {
        display: none;
      }
      //radio selector
      .radio-active {
        border-color: $green;

        &:before {
          background-color: $green;
        }
      }
    }
    //checkbox selector
    .checkbox-active {
      border-color: $green;

      span {
        &:before {
          background-color: $green;
          color: $white;
          content: "\e048";
          font-family: "higux";
          line-height: 1.9em;
          text-align: center;
        }
      }

      &:before {
        background-color: $green;
      }
    }

    .checkbox {
      label {
        span {
          &:before {
            border-radius: 0;
          }
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .checkbox,
    .radio {
      label {
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  &-sm {
    text-align: center;

    label {
      height: 70px;
      border: 1px solid $black;
      display: block;
    }

    span {
      display: block;
      margin-top: .5em;

      &:before {
        background-color: $white;
        border: 2px solid $white;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px $gray-medium;
        bottom: .87em;
        content: "";
        cursor: pointer;
        height: 1.75em;
        left: 50%;
        margin-left: -.87em;
        position: absolute;
        width: 1.75em;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked + span:before {
          background-color: $green;
          box-shadow: inset 0 0 0 1px $green;
          color: $white;
          content: "\e048";
          font-family: "higux";
          line-height: 1.7em;
          text-align: center;
      }
    }
  }
}
.content-block {
  clear: both;
  padding-top: 15px;

  h3 {
    border-bottom: 2px solid $green;
    color: $green;
    padding-bottom: 10px;
  }
}

.tile-click-radio {
  &.has-error.has-danger {
    label {
      border-color: $red-error;

      &:before {
        color: $red-error;
      }
    }
  }

  label {
    background: $white;
    border: 1px solid $gray-tile;
    border-radius: 0;
    color: $gray-tile;
    font-size: $font-size-base;
    font-weight: 400;
    padding: 1em;
    text-align: center;
    transform: scale(1);
    width: 144px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:before {
      color: $gray-tile;

      content: "\e010";
      display: block;
      font-family: "higux";
      font-size: 3em;
      margin-bottom: 0.5em;
      margin-top: 0.2em;
      text-align: center;
    }

    input {
      display: none;
    }
  }

  .tile-radio-active {
    border-color: $blue;
    color: $blue;

    &:before {
      color: $blue;
    }
  }
}
