@mixin less-padding ($width: 50px, $padding: 9px, $display: inline-block) {
  display: $display;

  > label {
    width: $width;
    padding: $padding;

    @media (min-width: $screen-sm-min) {
      min-width: $width;
      width: $width;
    }
  }
}

.btn-group {
  &.btn-group-toggle {
    display: flex;

    @media (min-width: $screen-md-min) {
      display: inline-block;
    }

    [disabled], .active[disabled] {
      background-color: $white;
      border-color: $shadow-medium-deep;
      color: $shadow-medium-deep;

      &:hover {
        background-color: $white;
        border-color: $shadow-medium-deep;
        color: $shadow-medium-deep;
        transform: none;
      }
    }

    button, label {
      background-color: $white;
      border: 1px solid $blue;
      border-radius: 0;
      color: $blue;
      outline: none;
      transform: scale(1);
      width: 50%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      @media (min-width: $screen-sm-min) {
        min-width: 160px;
        width: auto;
      }

      &:hover {
        background-color: $blue-active;
        border-color: $blue-active;
        color: $white;
        transform: scale(1.1);
        transition: all 0.6s cubic-bezier(0.54, 0.54, 0.78, 0.99);
        z-index: 3;
      }

      &:active,
      &:focus {
        background-color: $blue-active;
        color: $white;
      }

      &.active {
        background: $blue;
        border-color: $blue;
        box-shadow: none;
        color: $white;
        outline: none;
      }
    }
    /* toggle selector with more/less padding -> start */
    &.btn-group-fixed-padding {
      @include less-padding(60px);
    }
    &.btn-group-variable-padding {
      @include less-padding();
    }
    /* toggle selector with more/less padding -> end */
  }
}
.toggle-title {
  color: $blue;
  line-height: 1.25em;
  margin-bottom: 0.313em;
  font-size: 1em;
  font-weight: 500;

  .icon {
    margin-left: 1em;
    right: 0;
  }
}
