<div class="row">
  <div class="col-md-12">
    <h1>HIG UX KIT : Two panel select</h1>
    <ul>
      <li>NPM Package: <a href="https://www.npmjs.com/package/multiselect-two-sides" target="_blank">Multiselect Package</a></li>
      <li>For more information, please navigate to <a href="https://github.com/crlcu/multiselect">Multiselect Github</a></li>
      <li><b>Note:</b> Multi-pane pattern should only be used on desktop</li>
    </ul>
  </div>
</div>
<div class="row">
    <div class="col-xs-5 left-panel">
        <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
            <option value="1">ADPM New Portal (99)</option>
            <option value="2">Bond (47)</option>
            <option value="3">CL Expressway (48)</option>
            <option value="4">e-BPP Admin (29)</option>
            <option value="5">Internal Claims Report (61)</option>
        </select>
    </div>

    <div class="col-xs-1 multiselect-arrows">
      <div id="multiselect_rightSelected" class="text-center"><i class="icon icon-carousel-right"></i></div>
      <div id="multiselect_leftSelected" class="text-center"><i class="icon icon-carousel-left"></i></div>
    </div>

    <div class="col-xs-5 right-panel">
        <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
    </div>
</div><br>{{#if showcode}}
<pre><code class="html">
  &lt;div class="row"&gt;
      &lt;div class="col-xs-5 left-panel"&gt;
          &lt;select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple"&gt;
              &lt;option value="1"&gt;ADPM New Portal (99)&lt;/option&gt;
              &lt;option value="2"&gt;Bond (47)&lt;/option&gt;
              &lt;option value="3"&gt;CL Expressway (48)&lt;/option&gt;
              &lt;option value="4"&gt;e-BPP Admin (29)&lt;/option&gt;
              &lt;option value="5"&gt;Internal Claims Report (61)&lt;/option&gt;
          &lt;/select&gt;
      &lt;/div&gt;

      &lt;div class="col-xs-1 multiselect-arrows"&gt;
        &lt;div id="multiselect_rightSelected" class="text-center"&gt;&lt;i class="icon icon-carousel-right"&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div id="multiselect_leftSelected" class="text-center"&gt;&lt;i class="icon icon-carousel-left"&gt;&lt;/i&gt;&lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="col-xs-5 right-panel"&gt;
          &lt;select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"&gt;&lt;/select&gt;
      &lt;/div&gt;
  &lt;/div&gt;
</code></pre>
{{/if}}
