@import 'bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid';
@import '../partials/mixins';

.panel-higux {
  .panel {
    &-body {
      @include make-row(0);
      &-left {
        @include make-md-column(8, 0);
      }
      &-right {
        @include make-md-column(4, 0);
      }
    }
  }
  .account-info {
    line-height: 1.5em;
    &-title {
      width: em(150);
      display: inline-block;
    }
    &-value {
      font-weight: bold;
      display: inline-block;
    }
  }
}

